<!DOCTYPE html>
<html lang="en">
<%- include('layout/head') %>

<body>
  <!-- header 1 -->
   <div class=" container-all ">
    <%- include('layout/header') %>

  <!-- about us content start -->
    <div class="container-fluid about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center mt-5" >Tentang Kami</h1>
                </div>
                <div class="col-md-12 mb-5 text-center">
                    <p>CryptoEdu merupakan salah satu portal berita terbaik yang membahas Cryptocurrency <br>yang didirikan pada tahun 2022.<br><br>
    
                        CryptoEdu adalah portal berita Indonesia yang menyediakan informasi khususnya informasi <br>terkait mata uang kripto, berita trending, harga real time kripto, dan yang lainnya.<br><br>
                        
                        Melalui CryptoEdu, Kami ingin membagikan berbagai informasi dan mengenalkan mata <br>uang kripto yang saat ini masih cukup asing di negeri kita Indonesia.<br><br>
                        
                        Crypto edu mempunyai misi mengedukasi dengan menampilkan berita terkini, terpercaya, <br>dan teraktual. Dengan menampilkan harga crypto real time juga diharapkan pembaca <br>terhindar dari berita hoax.</p>
                </div>
                <div class="col-md-12 mt-2">
                    <h1 class="text-center" >Tim CryptoEdu</h1>
                </div>
            </div>
        </div>
    </div>
  <!-- about us content end -->
    
  <!-- profile card start -->
    <div class="container-fluid about">
        <div class="container">
          <div class="row">
              <div class="col-md-3 col-lg-3 col-sm-6">
                <div class="card text-center mt-5 mb-5 mx-auto">
                    <img src="http://localhost:3000/static/image/Azinudin.png" class="card-img-top rounded-circle mx-auto my-4 mb-3">
                    <div class="card-body">
                        <h4>Azinudin</h4>
                        <p class="card-text pb-2">Full Stack Web</p>
                    </div>
                  </div>
              </div>
              <div class="col-md-3 col-lg-3 col-sm-6">
                <div class="card text-center mt-5 mb-5 mx-auto">
                    <img src="http://localhost:3000/static/image/Indra Yudhatama.png" class="card-img-top rounded-circle mx-auto my-4 mb-3">
                    <div class="card-body">
                        <h4>Indra Yudhatama</h4>
                        <p class="card-text pb-2">Full Stack Web</p>
                    </div>
                  </div>
              </div>
              <div class="col-md-3 col-lg-3 col-sm-6">
                <div class="card text-center mt-5 mb-5 mx-auto">
                    <img src="http://localhost:3000/static/image/Surli.png" class="card-img-top rounded-circle mx-auto mt-4 mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Surli</h4>
                        <p class="card-text pb-2">Full Stack Web</p>
                    </div>
                  </div>
              </div>
              <div class="col-md-3 col-lg-3 col-sm-6">
                <div class="card text-center mt-5 mb-5 mx-auto">
                    <img src="http://localhost:3000/static/image/Celza Dinata.png" class="card-img-top rounded-circle mx-auto my-4 mb-3">
                    <div class="card-body">
                        <h4>Celza Dinata</h4>
                        <p class="card-text pb-2">Full Stack Web</p>
                    </div>
                  </div>
              </div>
          </div>
        </div>
    
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-6">
                  <div class="card text-center mb-5 mx-auto">
                      <img src="http://localhost:3000/static/image/Indra Hasan.png" class="card-img-top rounded-circle mx-auto my-4 mb-3">
                      <div class="card-body">
                          <h4>Indra Hasan</h4>
                          <p class="card-text pb-2">Full Stack Web</p>
                      </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6">
                  <div class="card text-center mb-5 mx-auto">
                      <img src="http://localhost:3000/static/image/Desinta Dewi Ramadani.png" class="card-img-top rounded-circle mx-auto my-4 mb-3">
                      <div class="card-body">
                          <h4>Desinta Dewi R.</h4>
                          <p class="card-text pb-2">Full Stack Web</p>
                      </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6">
                  <div class="card text-center mb-5 mx-auto">
                      <img src="http://localhost:3000/static/image/Ellipse 20.png" class="card-img-top rounded-circle mx-auto my-4 mb-3">
                      <div class="card-body">
                          <h4>Muh. Naga C.</h4>
                          <p class="card-text pb-2">Full Stack Web</p>
                      </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6">
                  <div class="card text-center mb-5 mx-auto">
                      <img src="http://localhost:3000/static/image/Revangga Aji Pratama.png" class="card-img-top rounded-circle mx-auto my-4 mb-3">
                      <div class="card-body">
                          <h4>Revangga Aji P.</h4>
                          <p class="card-text pb-2">Full Stack Web</p>
                      </div>
                    </div>
                </div>
            </div>
          </div>
    
          <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-6">
                  <div class="card text-center mb-5 mx-auto">
                      <img src="http://localhost:3000/static/image/Iman Irvansyah.png" class="card-img-top rounded-circle mx-auto my-4 mb-3">
                      <div class="card-body">
                          <h4>Iman Irvansyah</h4>
                        <p class="card-text pb-2">Full Stack Web.</p>
                      </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6">
                  <div class="card text-center mb-5 mx-auto">
                      <img src="http://localhost:3000/static/image/Angga Cahyo S.png" class="card-img-top rounded-circle mx-auto my-4 mb-3">
                      <div class="card-body">
                          <h4>Angga Cahyo S.</h4>
                        <p class="card-text pb-2">Full Stack Web</p>
                      </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6">
                  <div class="card text-center mb-5 mx-auto">
                      <img src="http://localhost:3000/static/image/Rahmah Nur Anggraeni.png" class="card-img-top rounded-circle mx-auto my-4 mb-3">
                      <div class="card-body">
                          <h4>Rahmah Nur A.</h4>
                          <p class="card-text pb-2">Full Stack Web</p>
                      </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6">
                  <div class="card text-center mb-5 mx-auto">
                      <img src="http://localhost:3000/static/image/Ganang Rizqijaya.png" class="card-img-top rounded-circle mx-auto my-4 mb-3">
                      <div class="card-body">
                          <h4>Ganang Rizqijaya</h4>
                        <p class="card-text pb-2">UI/ UX Design</p>
                      </div>
                    </div>
                </div>
            </div>
          </div>
    
          <div class="container">
            <div class="row pb-5 mb-3">
                <div class="col-md-3 col-lg-3 col-sm-6 offset-3">
                  <div class="card text-center mb-5 mx-auto">
                      <img src="http://localhost:3000/static/image/Cicilia Viyaya W.png" class="card-img-top rounded-circle mx-auto my-4 mb-3">
                      <div class="card-body">
                          <h4>Cicilia Viyaya W.</h4>
                        <p class="card-text pb-2">UI/ UX Design</p>
                      </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6">
                    <div class="card text-center mb-5 mx-auto">
                        <img src="http://localhost:3000/static/image/Yunita Rahmawaty.png" class="card-img-top rounded-circle mx-auto my-4 mb-3">
                        <div class="card-body">
                            <h4>Yunita Rahmawaty</h4>
                          <p class="card-text pb-2">UI/ UX Design</p>
                        </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>
  <!-- profile card end -->

  <!-- footer -->
  <%- include('layout/footer') %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
</body>
</html>
