<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="http://localhost:3000/static/css/form_berita.css">
    </head>

    <body>
      <button type="button" class="btn-close btn-close close" aria-label="Close"><a class="btn" href="http://localhost:3000/admin/showBerita"></a></button>
        <form class="form" method="POST" action="http://localhost:3000/admin/buat-berita" enctype="multipart/form-data">
          <div class="title">Buat Berita</div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Judul Berita</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Masukkan Judul" name="judul">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Sub Judul Berita</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Masukkan Sub Judul" name="subJudul">
              </div>
              <div class="mb-3">
                <label for="formFile" class="form-label">Upload Gambar</label>
                <input class="form-control" type="file" id="formFile" name="uploaded_image" accept="">
              </div>
              <div class="mb-3">
                
                  <label for="formFile" class="form-label">Kategori</label>
                
                <select class="form-select" aria-label="Default select example" name="kategori">
                  <option selected>Pilih Kategori</option>
                  <% for(var i=0; i<category.length; i++) {%>
                    <option value="<%= category[i].id%>"><%= category[i].nama_kategori%></option>
                  <% } %>
                </select>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Isi Berita</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="isiBerita"></textarea>
              </div>
              <div class="mb-3">
                <select class="form-select" aria-label="Default select example" name="hashtag">
                  <option selected>Pilih hashtag</option>
                  <% for(var i=0; i<tag.length; i++) {%>
                    <option value="<%= tag[i].id%>"><%= tag[i].nama_tag%></option>
                  <% } %>                 
                </select>
              </div>
            <button type="submit" class="btn btn-primary">Create</button>
            <button type="submit" class="btn btn-primary" name="draft" onclick="isDraft()">Draft</button>
          </form>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </body>
</html>