<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Admin - Komentar</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">Cryptoedu <span class="badge bg-secondary">admin</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/admin">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/admin/showBerita">Berita</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/admin/kategori">Kategori</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/admin/hashtag">Hashtag</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/admin/block-users">Block</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/admin/komentar">komentar</a>
              </li>
              
            </ul>
            
          </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <table class="table table-striped">
                <h2>Pengaturan Komentar</h2>
                <tr>
                    <th>No</th>
                    <th>Username</th>
                    <th>Isi Komentar</th>
                    <th>Create</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <% var x=1 %>
                        <% for(var i=0; i < data.length; i++) { %>
                            <td>
                                <%= x %>
                            </td>
                            <td>
                                <%= data[i].username %>
                            </td>
                            <td>
                                <%= data[i].isi %>
                            </td>
                            <td>
                                <%= data[i].waktu %>
                            </td>
                            <td><a href="http://localhost:3000/admin/komentar/delete/<%= data[i].id %>" onclick="if(!confirm('Apakah Anda ingin menghapus data ini?')){ return false; }">
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal<%= data[i].id %>">
                        Hapus
                      </button></a></td>
                </tr>
                <% x++ %>
                    <% } %>

            </table>





</body>

</html>

<script>
    var myModal = document.getElementById('modal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function() {
        myInput.focus()
    })
</script>