<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
  <link rel="stylesheet" type="text/css" href="http://localhost:3000/static/css/admin_tabel_berita.css">

  <title>Show Berita</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Cryptoedu <span class="badge bg-secondary">admin</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/admin">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/admin/showBerita">Berita</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/admin/kategori">Kategori</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/admin/hashtag">Hashtag</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/admin/block-users">Block</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/admin/komentar">komentar</a>
          </li>
          
        </ul>
        
      </div>
    </div>
</nav>
  <div class="container">
    <button class="add btn-primary"><a class="btn color" href="http://localhost:3000/admin/buat-berita">Buat Berita</a></button>
    <table data-toggle="table" class="table">
      <thead>
        <tr class="position">
          <th>Id</th>
          <th>Judul</th>
          <th>Sub-Judul</th>
          <th>Kategori</th>
          <th class="berita">Isi Berita</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% let j = 1; for(var i=0; i < data.length; i++) { %>
        <tr>
          <td><%= j++ %></td>
          <td><%= data[i].judul%></td>
          <td><%= data[i].subjudul%></td>
          <td><%= data[i].kategori%></td>
          <td class="content"><%- data[i].isiberita.substring(0, 200)%> ...</td>
          <td><%= data[i].isDraft %></td>
          <td>
            <ul class="action-list">
              <li><a href="http://localhost:3000/admin/update/<%= data[i].id%>" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a></li>
              <li><a href="http://localhost:3000/admin/delete/<%= data[i].id%>" class="btn btn-danger"><i
                    class="bi bi-trash"></i></a></li>
            </ul>
          </td>
        </tr>
        <% }%>
      </tbody>
    </table>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous">
  </script>
  <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script> -->

</html>