<!DOCTYPE html>
<html lang="en">

<head>
  <title>Form</title>
</head>

<body>
  <h1><%= message %></h1>
  SELAMAT DATANG
  <p> Nama : <%= data.name %></p>
  <input value="<%= data.name %>">
</body>

</html>