<!DOCTYPE html>
<html>
<%- include('layout/head') %>

    <body>
        <%- include('layout/header') %>
            <div class="container mt-5">
                <div class="row">
                    <div class="detail-berita col-md-8">
                        <img class="main-banner" src="http://localhost:3000/static/image/<%= data.thumbnail %>" alt="mainbanner" width="100%">
                        <h1 class="tittle">
                            <%= data.judul %>
                        </h1>
                        <div class="isi">
                            <%- data.isiberita -%>
                        </div>

                    </div>
                    <div class="fixed-terkait col-md-4">
                        <h5 class="sub-tittle mb-3">Berita Terkait</h5>
                        <div class="row ">
                            <% for(var i=0; i < dataterkait.length; i++) { %>
                                <div class="col-md-5 mb-3">
                                    <a class="hyperlink" href="http://localhost:3000/berita/<%=dataterkait[i].slug %>">
                                        <p class="sub-text">
                                            <%= dataterkait[i].judul %>
                                        </p>
                                    </a>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <a class="hyperlink" href="http://localhost:3000/berita/<%=dataterkait[i].slug %>">
                                        <img class="berita-terkait" src="http://localhost:3000/static/image/<%= dataterkait[i].thumbnail %>" alt="beritaterkait" width="100%">
                                        </a>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>


                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <br>
                            <br>
                            <div style="font-weight: 700; margin-bottom: 2%;">#Hashtag</div>
                            <!-- Manggil Hashtag Start -->
                            <% for(var i = 0; i < hashtagberita.length; i++) { %>
                                <b style="margin-right: 5px; margin-bottom: 5px; background-color: rgb(0, 110, 255); color: white; border-radius: 4px; box-shadow: 3px 3px 3px rgba(117, 113, 113, 0.8); font-weight: 300;"><a style="color: transparent;">.</a><%=hashtagberita[i].nama_tag%><a style="color: transparent;">.</a></b>
                                <% } %>
                                    <!-- Manggil Hashtag End -->
                                    <br>
                                    <h5 class="sub-tittle mt-5">Komentar</h5>
                                    <p class="sub-text-komen">
                                        <%= isikomentar.length%> Komentar</p>
                                    <div class="row">
                                        <div class="col-md-1">
                                            <img class="gambar-komen" src="http://localhost:3000/static/image/profile.svg" alt="" width="100%">
                                        </div>
                                        <div class="col-md-11">
                                            <textarea class="comment" name="isi" id="isi" placeholder="Tulis Komentar..." maxlength="100" required></textarea>
                                            <div class="hitung d-flex justify-content-end" id="count">
                                                <span id="current">0 </span>
                                                <span id="maximum">/100 Karakter</span>
                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <button class="send" onclick="komen()">Kirim</button>
                                            </div>
                                            <br>
                                            <br>
                                        </div>
                                    </div>



                                    <div class="row sec-komen">
                                        <% for(var y=0; y < isikomentar.length; y++) { %>
                                            <div class="kommen">
                                                <div class="col-md-1">
                                                    <img class="gambar-komen" src="http://localhost:3000/static/image/profile.svg" alt="">
                                                </div>
                                                <div class="col-md-11">
                                                    <p class="sub-tittle komentar">
                                                        <%= isikomentar[y].name %> <small class="tanggal-komen"><%= isikomentar[y].date%> </small></p>
                                                    <p class="komentar isi-komentar">
                                                        <%= isikomentar[y].comment %>
                                                    </p>
                                                </div>
                                            </div>
                                            <% } %>
                                    </div>
                                    <% if (isikomentar.length > 5) { %>
                                        <button id="loadmore">Load more...</button>
                                        <% } else { %>
                                            <button id="loadmore" style="display: none;">Load more...</button>
                                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="mb-5"></div>

            <%- include('layout/footer') %>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
                </script>
              
              <script type="text/javascript">
                    const loadmore = document.querySelector('#loadmore');
                    let currentItems = 5;
                    // let length = <%=isikomentar.length%>;
                    loadmore.addEventListener('click', (e) => {
                        const elementList = [...document.querySelectorAll('.kommen')];
                        for (let i = currentItems; i < currentItems + 5; i++) {
                            if (elementList[i]) {
                                elementList[i].style.display = 'flex';
                            }
                        }
                        currentItems += 5;

                        // Load more button will be hidden after list fully loaded
                        if (currentItems >= elementList.length) {
                            event.target.style.display = 'none';
                        }
                    })


                    function komen() {
                        if (document.getElementById("isi").value == '') {
                            window.alert('Harap isi komentar terlebih dahulu');
                        } else {
                            // let user = null
                            if (!document.cookie) {
                                window.alert("Harap Login Terlebih dahulu!");
                            }else{
                                user = <%= idKomentator %>;
                                // console.log(user)
                                $.ajax({
                                    type: "POST",
                                    url: "./submit-komentar",
                                    dataType: "json",
                                    data: {
                                        isi: isi.value,
                                        url: window.location.href,
                                        user: user
                                    },
                                    success: function(msg) {
                                        window.alert("komentar berhasil ditambahkan");
                                        window.location = window.location.href
                                    },
                                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                                        alert("some error");
                                        console.log(errorThrown);
                                    }
                                });
                                return
                                // if (user) {
                                // }
                            
                            }
                            // console.log(document.cookie)
                            
                            // let check = '<%- //user.username %>';
                            // if (check == null) {
                            //     // const user = null
                            //     // if (user == null) {
                            //     //     window.alert("Harap Login Terlebih dahulu!");
                            //     //     window.location.href = "../user/login";
                            //     // }
                            //     window.alert("Harap Login Terlebih dahulu!");
                            //     window.location.href = "../user/login";

                            // } else {
                            //     const user = '<%- //user.username%>';
                            //     if (user) {
                            //         $.ajax({
                            //             type: "POST",
                            //             url: "./submit-komentar",
                            //             dataType: "json",
                            //             data: {
                            //                 isi: isi.value,
                            //                 url: window.location.href,
                            //                 user: user
                            //             },
                            //             success: function(msg) {
                            //                 window.alert("komentar berhasil ditambahkan");
                            //                 window.location = window.location.href
                            //             },
                            //             error: function(XMLHttpRequest, textStatus, errorThrown) {
                            //                 alert("some error");
                            //                 console.log(errorThrown);
                            //             }
                            //         });
                            //         return
                            //     }
                            // }


                        }
                    }

                    


                    $('textarea').keyup(function() {

                        var characterCount = $(this).val().length,
                            current = $('#current'),
                            maximum = $('#maximum'),
                            theCount = $('#count');

                        current.text(characterCount);
                    });
                </script>

    </body>


</html>