<!DOCTYPE html>
<html>
<%- include('layout/head') %> 
<body>
    <div class="container-all">
        <%- include('layout/header') %> 
        <main id="biodata">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h3 class="mt-5 mb-4">Edit Profile</h3>
                        <form action="/user/edit-profile/<%= dataUser.username %>" method="post" class="mt-2" id="edit-profile">
                            <div class="mb-3">
                                <div class="row nama">
                                    <div class="col-4">
                                        <label for="nama_lengkap" class="form-label">Nama Lengkap</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="form-control" id="nama_lengkap" placeholder="Masukkan Nama Lengkap Baru" name="nama_lengkap" value="<%= dataUser.nama_lengkap %>" required>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 pw">
                                <div class="row">
                                    <div class="col-4">
                                        <label class="form-label">Password</label>
                                    </div>
                                    <div class="col-8">
                                        <a href="/user/edit-password/<%= dataUser.username %>" class="pw">Ubah Password</a>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 tgl_lahir">
                                <div class="row">
                                    <div class="col-4">
                                        <label for="tgl_lahir" class="form-label">Tanggal Lahir</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="date" class="form-control" id="tgl_lahir" name="tgl_lahir" required>
                                    </div>
                                </div>
                                <div class="mb-3 no_tlp">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="nomor_telepon" class="form-label">Nomor Telepon</label>
                                        </div>
                                        <div class="col-8">
                                            <input type="text" class="form-control" id="nomor_telepon" placeholder="Masukkan Nama Lengkap" name="nomor_telepon" value="<%= dataUser.nomor_telepon %> " required>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 gender">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="nomor_telepon" class="form-label">Gender</label>
                                        </div>
                                        <div class="col-8">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="gender" id="laki-laki" value="false" <%= (dataUser.gender == false) ? 'checked' : null %> >
                                                        <label class="form-check-label" for="laki-laki"><i class="bi bi-gender-male"></i> Laki-laki</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="gender" id="Perempuan" value="true" <%= (dataUser.gender == true) ? 'checked' : null %>>
                                                        <label class="form-check-label" for="Perempuan"><i class="bi bi-gender-female"></i> Perempuan</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mt-4">
                                <button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </main>
    </div>
    <%- include('layout/footer') %> 
    <script src="/static/js/edit_profile_user.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
    <script>
        let tgl_lahir = document.getElementById("tgl_lahir");
        tgl_lahir.value = formatDate("<%= user.tgl_lahir %>");
    </script>
</body>
</html>