<!DOCTYPE html>
<html>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

<body class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">Cryptoedu <span class="badge bg-secondary">admin</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/admin">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/admin/showBerita">Berita</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/admin/kategori">Kategori</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/admin/hashtag">Hashtag</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/admin/block-users">Block</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/admin/komentar">komentar</a>
              </li>
              
            </ul>
            
          </div>
        </div>
    </nav>
    <div class="container mx-5 my-5">
        <div class="d-flex justify-content-between">
            <h2>Hashtag Berita</h2>
            <div>
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#tambahHashtag"><i class="bi bi-plus-circle-fill"></i> Tambah Hashtag</button>
                <a role="button" class="btn btn-secondary" href="/admin">Kembali</a>
            </div>
        </div>
        <!-- Tabel -->
        <div class="table-responsive my-3  text-capitalize">
            <table id="tabelHashtag" class="table table-light table-bordered table-hover align-middle text-center">
                <tr class="table-dark">
                    <th>No</th>
                    <th>nama Hashtag berita</th>
                    <th>aksi</th>
                </tr>
                <% let i =1; allHashtag.forEach(item => { %>
                    <tr>
                        <td><%= i++ %></td>
                        <td class="text-start"><%= item.nama_tag %></td>
                        <td>
                            <a role="button" class="btn btn-ubah btn-outline-primary" href="/admin/hashtag/ubah/<%= item.id %>"><i class="bi bi-pencil-square"></i> Edit</a>
                            <a role="button" class="btn btn-outline-danger" href="/admin/hashtag/hapus/<%= item.id %>" onclick="return confirm('Anda yakin ingin menghapus hashtag ini?')"><i class="bi bi-trash-fill"></i> Hapus</a>
                        </td>
                    </tr>
                <% }) %>
            </table>
        </div>
    </div>

    <!-- Pop up tambah hashtag -->
    <div class="modal fade" id="tambahHashtag">
        <div class="modal-dialog modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tambah Hashtag</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/admin/hashtag">
                    <div class="mb-3">
                        <input type="text" name="nama_tag" placeholder="Masukkan nama hashtag" class="form-control">
                    </div>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Tutup</button>
                    <button type="submit" class="btn btn-outline-success">Tambahkan</button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>