<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost:3000/static/css/homepage.css">
    <link rel="stylesheet" href="http://localhost:3000/static/css/index.css">
    <link rel="stylesheet" href="http://localhost:3000/static/css/sitemap.css">
</head> -->

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://localhost:3000/static/css/sitemap.css">
    <link rel="stylesheet" href="http://localhost:3000/static/css/hashtag.css">
    <link rel="stylesheet" href="http://localhost:3000/static/css/watchlist.css">
    <link rel="stylesheet" href="http://localhost:3000/static/css/aboutUs.css">
    <link rel="stylesheet" href="http://localhost:3000/static/css/detail-berita.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/static/css/login_user.css">
    <link rel="stylesheet" href="http://localhost:3000/static/css/register_user.css">
    <link rel="stylesheet" href="http://localhost:3000/static/css/homepage.css">
</head>