<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost:3000/static/css/homepage.css">
</head>

<body>
    <!-- header 1 -->
    <div class=" container-all ">
        <nav class="navbar  navbar-light bg-white container   ">
            <img class='navbar-brand' src="http://localhost:3000/static/image/Logo crypto.png" alt=""
                style="width: 9%;">
            <form class="d-flex mx-auto">
                <input type="search" placeholder="Cari" size="70%">
                <button class="btn btn-outline-success  text-light " style="background-color: #1B6ECE;"
                    type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg></button>
            </form>
            <div class="btn-group float-end userlogin ">
                <a class="  me-2 masuk" href="#"><svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M20 0C8.96 0 0 8.96 0 20C0 31.04 8.96 40 20 40C31.04 40 40 31.04 40 20C40 8.96 31.04 0 20 0ZM20 6C23.32 6 26 8.68 26 12C26 15.32 23.32 18 20 18C16.68 18 14 15.32 14 12C14 8.68 16.68 6 20 6ZM20 34.4C15 34.4 10.58 31.84 8 27.96C8.06 23.98 16 21.8 20 21.8C23.98 21.8 31.94 23.98 32 27.96C29.42 31.84 25 34.4 20 34.4Z"
                            fill="#0F4688" />
                    </svg>
                </a>
                <a class="mt-1  text-dark " style="text-decoration: none;" href="#">Ganang Rizqijaya
                </a>
                <a class=" btn " href=""> <svg width="12" height="8" viewBox="0 0 12 8" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.59 0L6 4.58L1.41 0L0 1.41L6 7.41L12 1.41L10.59 0Z" fill="#0F4688" />
                    </svg></a>
            </div>
        </nav>

        <!-- header 2 -->
        <ul class="btn-group container-fluid  navbar-dark header2 py-2 sticky-lg-top btn-expand-lg navbar2"
            style="background-color: #1B6ECE;">
            <li class=" col btn beranda"><a class=" btn-item   "
                    style="text-decoration: none; color: white; border-style: none" href="">Beranda</a></li>


            <button class=" dropdown btn col dropdown-toggle " type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false" style="border-style: none; color: white; ">
                Kategori
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1"
                style="background-color:  #0F4688; ">
                <li><a class="dropdown-item text-light " href="#">Bitcoin</a></li>
                <li>
                    <hr class="drppdownd-divider" style="background-color:  white;">
                </li>
                <li><a class="dropdown-item text-light" href="#">Etherium</a></li>
                <li>
                    <hr class="drppdownd-divider" style="background-color:  white;">
                </li>
                <li><a class="dropdown-item text-light" href="#">Binance</a></li>
                <li>
                    <hr class="drppdownd-divider" style="background-color:  white;">
                </li>
                <li><a class="dropdown-item text-light" href="#">Solana</a></li>
                <li>
                    <hr class="drppdownd-divider" style="background-color:  white;">
                </li>
                <li><a class="dropdown-item text-light" href="#">Cardano</a></li>
            </ul>

            <li class="btn col "><a class="btn-item watchlist mx-auto"
                    style="text-decoration: none; color: white;border-style: none;  " href="#">Watchlist</a></li>
            <li class="btn col "><a class=" btn-item mx-auto"
                    style="text-decoration: none; color: white; border-style: none;" href="#">Tentang Kami</a></li>
        </ul>

        <!-- Gambar Slider -->
        <div class="container-fluid carousel-contain">
            <div class="Slider  ">
                <div id="carouselExampleCaptions" class="carousel slide col-md-8 mx-auto " data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href=" "> <img src="http://localhost:3000/static/image/slider gambar.jpg" class="d-block w-100"
                                    alt="..."></a>                  
                        </div>
                        <div class="carousel-item">
                            <a href=""> <img src="http://localhost:3000/static/image/slider gambar.jpg"
                                    class="d-block w-100" alt="..."></a>
                        </div>
                        <div class="carousel-item ">
                            <a href=""><img src="http://localhost:3000/static/image/slider gambar.jpg" class="d-block w-100"
                                    alt="..."></a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- harga border crypto -->
        <div class="container  crypto mx-auto ">
            <div class="harga-crypto " style="margin-left: 11%;">
                <h2> <b> Harga Crypto Hari Ini</b></h2>
            </div><br>
            <div class=" container-fluid row isian-label  " style="margin-left: 125px;">
                <div class="col-2 ">
                    <div class="card rounded bitcoin"
                        style="width:80% ; box-shadow: 10px  10px 5px rgba(224,224,224,1);  ">
                        <img src="http://localhost:3000/static/image/bitcoin1.png"
                            class="card-img-top mx-auto rounded-circle " alt="..." style="width: 50%;">
                        <div class="card-body">
                            <h3 class="card-title text-center"><b><a style="text-decoration: none; color: black;"
                                        href="">
                                        1.BTC</a></b></h3>
                            <p class="card-text text-danger text-center" style="font-size: 13px;">Rp729.023.032</p>
                            <h6 class="card-text text-danger text-center"> <svg xmlns="http://www.w3.org/2000/svg"
                                    width="16" height="16" fill="currentColor" class="bi bi-graph-down"
                                    viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M0 0h1v15h15v1H0V0Zm14.817 11.887a.5.5 0 0 0 .07-.704l-4.5-5.5a.5.5 0 0 0-.74-.037L7.06 8.233 3.404 3.206a.5.5 0 0 0-.808.588l4 5.5a.5.5 0 0 0 .758.06l2.609-2.61 4.15 5.073a.5.5 0 0 0 .704.07Z" />
                                </svg>12%</h6>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card rounded" style="width:80%; box-shadow: 10px  10px 5px rgba(224,224,224,1);">
                        <img src="http://localhost:3000/static/image/etherium.jpg"
                            class="card-img-top mx-auto rounded-circle " alt="..." style="width: 50%;">
                        <div class="card-body">
                            <h3 class="card-title text-center"><b><a style="text-decoration: none; color: black;"
                                        href="">2.ETH</b></a> </h3>
                            <p class="card-text text-success text-center" style="font-size: 13px;">Rp69.321.312</p>
                            <h6 class="card-text text-success text-center"> <svg xmlns="http://www.w3.org/2000/svg"
                                    width="16" height="16" fill="currentColor" class="bi bi-graph-up"
                                    viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z" />
                                </svg>10%</h6>
                        </div>
                    </div>
                </div>
                <div class="col-2 ">
                    <div class="card rounded" style="width:80%;box-shadow: 10px  10px 5px rgba(224,224,224,1); ">
                        <img src="http://localhost:3000/static/image/bnb.png"
                            class="card-img-top mx-auto rounded-circle " alt="..." style="width: 50%;">
                        <div class="card-body">
                            <h3 class="card-title text-center"><b><a style="text-decoration: none; color: black;"
                                        href="">3.BNB</a>
                                </b></h3>
                            <p class="card-text text-success text-center" style="font-size: 13px;">Rp7.594.342</p>
                            <h6 class="card-text text-success text-center"> <svg xmlns="http://www.w3.org/2000/svg"
                                    width="16" height="16" fill="currentColor" class="bi bi-graph-up"
                                    viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z" />
                                </svg>4%</h6>
                        </div>
                    </div>
                </div>
                <div class="col-2  ">
                    <div class="card rounded" style="width:80%;box-shadow: 10px  10px 5px rgba(224,224,224,1);">
                        <img src="http://localhost:3000/static/image/solana.png"
                            class="card-img-top mx-auto rounded-circle " alt="..." style="width: 50%;">
                        <div class="card-body">
                            <h3 class="card-title text-center"><b><a style="text-decoration: none; color: black;"
                                        href="">
                                        4.SOL</a></b></h3>
                            <p class="card-text text-success text-center" style="font-size: 13px;">Rp2.034.343</p>
                            <h6 class="card-text text-success text-center"> <svg xmlns="http://www.w3.org/2000/svg"
                                    width="16" height="16" fill="currentColor" class="bi bi-graph-up"
                                    viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z" />
                                </svg>2%</h6>
                        </div>
                    </div>
                </div>
                <div class="col-2  ">
                    <div class="card rounded"
                        style="width:80%;margin-right: 10px;box-shadow: 10px  10px 5px rgba(224,224,224,1); ">
                        <img src="http://localhost:3000/static/image/cardano.png"
                            class="card-img-top mx-auto rounded-circle " alt="..." style="width: 50%;">
                        <div class="card-body">
                            <h3 class="card-title text-center"><b><a style="text-decoration: none; color: black;"
                                        href="">
                                        5.ADA</a></b></h3>
                            <p class="card-text text-success text-center" style="font-size: 13px;">Rp92.234</p>
                            <h6 class="card-text text-success text-center"> <svg xmlns="http://www.w3.org/2000/svg"
                                    width="16" height="16" fill="currentColor" class="bi bi-graph-up"
                                    viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z" />
                                </svg>31%</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- berita terbaru  -->
        <div class="berita-terbaru container  ">
            <div class="isian">
                <h2 class="pembukaan" style="margin-left: 10%;"> <b>Berita Terbaru</b>
                    <a class="btn btn-outline-warning  " type="button" data-bs-toggle="collapse"
                        data-bs-target="#lihatsemua" aria-expanded="false" aria-controls="lihatsemua" href="#">Lihat
                        Semua
                </h2></a>
                <br>
            </div>

            <!--  -->
            <div class="kumpulan-berita">
                <div class="column-kartu row mx-auto py-2" style="width: 90%;">
                    <div class="col">
                        <div class="card" style="width: 18rem;width:100%; ">
                            <img src="http://localhost:3000/static/image/elon.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Title Of The News Elon Musk Beli Doge...</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere
                                    venenatis, risus
                                    amet non mattis facilisis volutpat lectus. Cursus elementum, nec nibh convallis.
                                    Vitae, augue arcu
                                    orci, tincidunt aliquet ultrices non cras. Non pulvinar ut curabitur lacinia morbi
                                    erat.</p>

                                <div class="col-expand-lg">
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#altcoin</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#doge</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#elonmusk</a>
                                </div>
                                <div class="col-expand-lg pt-1">
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#rich</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#trending</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#spacex</a>
                                </div>
                                <br>
                                <div class="col-expand-lg pt-1">
                                    <a class=" text-dark" style="text-decoration: none;" href="">Detail Berita <svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg></a>
                                    <div class="share-comment float-end">
                                        <a class="  text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M21.99 4C21.99 2.9 21.1 2 20 2H4C2.9 2 2 2.9 2 4V16C2 17.1 2.9 18 4 18H18L22 22L21.99 4ZM18 14H6V12H18V14ZM18 11H6V9H18V11ZM18 8H6V6H18V8Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                        <a class=" text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card" style="width: 18rem;width:100%; ">
                            <img src="http://localhost:3000/static/image/cryptojpg.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Crypto 2021: Ragam Peristiwa Penting</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere
                                    venenatis, risus
                                    amet non mattis facilisis volutpat lectus. Cursus elementum, nec nibh convallis.
                                    Vitae, augue arcu
                                    orci, tincidunt aliquet ultrices non cras. Non pulvinar ut curabitur lacinia morbi
                                    erat.</p>

                                <div class="col-expand-lg">
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#altcoin</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#doge</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#elonmusk</a>
                                </div>
                                <br>
                                <br>


                                <div class="col-expand-lg pt-1">
                                    <a class=" text-dark" style="text-decoration: none;" href="">Detail Berita <svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg></a>
                                    <div class="share-comment float-end">
                                        <a class="  text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M21.99 4C21.99 2.9 21.1 2 20 2H4C2.9 2 2 2.9 2 4V16C2 17.1 2.9 18 4 18H18L22 22L21.99 4ZM18 14H6V12H18V14ZM18 11H6V9H18V11ZM18 8H6V6H18V8Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                        <a class=" text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card" style="width: 18rem;width:100%; ">
                            <img src="http://localhost:3000/static/image/Solana-blockchain.jpg" class="card-img-top"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Solana Naik 2000% Dalam 1 Tahun...</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere
                                    venenatis, risus
                                    amet non mattis facilisis volutpat lectus. Cursus elementum, nec nibh convallis.
                                    Vitae, augue arcu
                                    orci, tincidunt aliquet ultrices non cras. Non pulvinar ut curabitur lacinia morbi
                                    erat.</p>
                                <div class="col-expand-lg">
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#altcoin</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#doge</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#elonmusk</a>
                                </div>
                                <div class="col-expand-lg pt-1">
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#rich</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#trending</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#spacex</a>
                                </div>
                                <br>
                                <div class="col-expand-lg pt-1">
                                    <a class=" text-dark" style="text-decoration: none;" href="">Detail Berita <svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg></a>
                                    <div class="share-comment float-end">
                                        <a class="  text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M21.99 4C21.99 2.9 21.1 2 20 2H4C2.9 2 2 2.9 2 4V16C2 17.1 2.9 18 4 18H18L22 22L21.99 4ZM18 14H6V12H18V14ZM18 11H6V9H18V11ZM18 8H6V6H18V8Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                        <a class=" text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 18rem;width:100%;">
                            <img src="http://localhost:3000/static/image/dogecoin.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Ini Penyebab Doge Anjlok Setelah Twe...</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere
                                    venenatis, risus
                                    amet non mattis facilisis volutpat lectus. Cursus elementum, nec nibh convallis.
                                    Vitae, augue arcu
                                    orci, tincidunt aliquet ultrices non cras. Non pulvinar ut curabitur lacinia morbi
                                    erat.</p>

                                <div class="col-expand-lg">
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#altcoin</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#doge</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#elonmusk</a>
                                </div>
                                <div class="col-expand-lg pt-1">
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#rich</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#trending</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#spacex</a>
                                </div>
                                <br>
                                <div class="col-expand-lg pt-1">
                                    <a class=" text-dark" style="text-decoration: none;" href="">Detail Berita <svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg></a>
                                    <div class="share-comment float-end">
                                        <a class="  text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M21.99 4C21.99 2.9 21.1 2 20 2H4C2.9 2 2 2.9 2 4V16C2 17.1 2.9 18 4 18H18L22 22L21.99 4ZM18 14H6V12H18V14ZM18 11H6V9H18V11ZM18 8H6V6H18V8Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                        <a class=" text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column-kartu row bagian-2  mx-auto py-2 " style="width: 90%;">
                    <div class="col">
                        <div class="card" style="width: 18rem;width:100%; ">
                            <img src="http://localhost:3000/static/image/elon.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Title Of The News Elon Musk Beli Doge...</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere
                                    venenatis, risus
                                    amet non mattis facilisis volutpat lectus. Cursus elementum, nec nibh convallis.
                                    Vitae, augue arcu
                                    orci, tincidunt aliquet ultrices non cras. Non pulvinar ut curabitur lacinia morbi
                                    erat.</p>

                                <div class="col-expand-lg">
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#altcoin</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#doge</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#elonmusk</a>
                                </div>
                                <div class="col-expand-lg pt-1">
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#rich</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#trending</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#spacex</a>
                                </div>
                                <br>
                                <div class="col-expand-lg pt-1">
                                    <a class=" text-dark" style="text-decoration: none;" href="">Detail Berita <svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg></a>
                                    <div class="share-comment float-end">
                                        <a class="  text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M21.99 4C21.99 2.9 21.1 2 20 2H4C2.9 2 2 2.9 2 4V16C2 17.1 2.9 18 4 18H18L22 22L21.99 4ZM18 14H6V12H18V14ZM18 11H6V9H18V11ZM18 8H6V6H18V8Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                        <a class=" text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card" style="width: 18rem;width:100%; ">
                            <img src="http://localhost:3000/static/image/cryptojpg.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Crypto 2021: Ragam Peristiwa Penting</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere
                                    venenatis, risus
                                    amet non mattis facilisis volutpat lectus. Cursus elementum, nec nibh convallis.
                                    Vitae, augue arcu
                                    orci, tincidunt aliquet ultrices non cras. Non pulvinar ut curabitur lacinia morbi
                                    erat.</p>

                                <div class="col-expand-lg">
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#altcoin</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#doge</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#elonmusk</a>
                                </div>
                                <br>
                                <br>


                                <div class="col-expand-lg pt-1">
                                    <a class=" text-dark" style="text-decoration: none;" href="">Detail Berita <svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg></a>
                                    <div class="share-comment float-end">
                                        <a class="  text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M21.99 4C21.99 2.9 21.1 2 20 2H4C2.9 2 2 2.9 2 4V16C2 17.1 2.9 18 4 18H18L22 22L21.99 4ZM18 14H6V12H18V14ZM18 11H6V9H18V11ZM18 8H6V6H18V8Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                        <a class=" text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card" style="width: 18rem;width:100%; ">
                            <img src="http://localhost:3000/static/image/Solana-blockchain.jpg" class="card-img-top"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Solana Naik 2000% Dalam 1 Tahun...</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere
                                    venenatis, risus
                                    amet non mattis facilisis volutpat lectus. Cursus elementum, nec nibh convallis.
                                    Vitae, augue arcu
                                    orci, tincidunt aliquet ultrices non cras. Non pulvinar ut curabitur lacinia morbi
                                    erat.</p>
                                <div class="col-expand-lg">
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#altcoin</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#doge</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#elonmusk</a>
                                </div>
                                <div class="col-expand-lg pt-1">
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#rich</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#trending</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#spacex</a>
                                </div>
                                <br>
                                <div class="col-expand-lg pt-1">
                                    <a class=" text-dark" style="text-decoration: none;" href="">Detail Berita <svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg></a>
                                    <div class="share-comment float-end">
                                        <a class="  text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M21.99 4C21.99 2.9 21.1 2 20 2H4C2.9 2 2 2.9 2 4V16C2 17.1 2.9 18 4 18H18L22 22L21.99 4ZM18 14H6V12H18V14ZM18 11H6V9H18V11ZM18 8H6V6H18V8Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                        <a class=" text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 18rem;width:100%;">
                            <img src="http://localhost:3000/static/image/dogecoin.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Ini Penyebab Doge Anjlok Setelah Twe...</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere
                                    venenatis, risus
                                    amet non mattis facilisis volutpat lectus. Cursus elementum, nec nibh convallis.
                                    Vitae, augue arcu
                                    orci, tincidunt aliquet ultrices non cras. Non pulvinar ut curabitur lacinia morbi
                                    erat.</p>

                                <div class="col-expand-lg">
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#altcoin</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#doge</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#elonmusk</a>
                                </div>
                                <div class="col-expand-lg pt-1">
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#rich</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#trending</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#spacex</a>
                                </div>
                                <br>
                                <div class="col-expand-lg pt-1">
                                    <a class=" text-dark" style="text-decoration: none;" href="">Detail Berita <svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg></a>
                                    <div class="share-comment float-end">
                                        <a class="  text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M21.99 4C21.99 2.9 21.1 2 20 2H4C2.9 2 2 2.9 2 4V16C2 17.1 2.9 18 4 18H18L22 22L21.99 4ZM18 14H6V12H18V14ZM18 11H6V9H18V11ZM18 8H6V6H18V8Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                        <a class=" text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Bagian Collapse -->
            <div class="collapse" id="lihatsemua">
                <div class="column-kartu row bagian-3  mx-auto py-2 " style="width: 90%;">
                    <div class="col">
                        <div class="card" style="width: 18rem;width:100%; ">
                            <img src="http://localhost:3000/static/image/elon.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Title Of The News Elon Musk Beli Doge...</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere
                                    venenatis, risus
                                    amet non mattis facilisis volutpat lectus. Cursus elementum, nec nibh convallis.
                                    Vitae, augue arcu
                                    orci, tincidunt aliquet ultrices non cras. Non pulvinar ut curabitur lacinia morbi
                                    erat.</p>

                                <div class="col-expand-lg">
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#altcoin</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#doge</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#elonmusk</a>
                                </div>
                                <div class="col-expand-lg pt-1">
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#rich</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#trending</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#spacex</a>
                                </div>
                                <br>
                                <div class="col-expand-lg pt-1">
                                    <a class=" text-dark" style="text-decoration: none;" href="">Detail Berita <svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg></a>
                                    <div class="share-comment float-end">
                                        <a class="  text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M21.99 4C21.99 2.9 21.1 2 20 2H4C2.9 2 2 2.9 2 4V16C2 17.1 2.9 18 4 18H18L22 22L21.99 4ZM18 14H6V12H18V14ZM18 11H6V9H18V11ZM18 8H6V6H18V8Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                        <a class=" text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card" style="width: 18rem;width:100%; ">
                            <img src="http://localhost:3000/static/image/cryptojpg.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Crypto 2021: Ragam Peristiwa Penting</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere
                                    venenatis, risus
                                    amet non mattis facilisis volutpat lectus. Cursus elementum, nec nibh convallis.
                                    Vitae, augue arcu
                                    orci, tincidunt aliquet ultrices non cras. Non pulvinar ut curabitur lacinia morbi
                                    erat.</p>

                                <div class="col-expand-lg">
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#altcoin</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#doge</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#elonmusk</a>
                                </div>
                                <br>
                                <br>


                                <div class="col-expand-lg pt-1">
                                    <a class=" text-dark" style="text-decoration: none;" href="">Detail Berita <svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg></a>
                                    <div class="share-comment float-end">
                                        <a class="  text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M21.99 4C21.99 2.9 21.1 2 20 2H4C2.9 2 2 2.9 2 4V16C2 17.1 2.9 18 4 18H18L22 22L21.99 4ZM18 14H6V12H18V14ZM18 11H6V9H18V11ZM18 8H6V6H18V8Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                        <a class=" text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card" style="width: 18rem;width:100%; ">
                            <img src="http://localhost:3000/static/image/Solana-blockchain.jpg" class="card-img-top"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Solana Naik 2000% Dalam 1 Tahun...</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere
                                    venenatis, risus
                                    amet non mattis facilisis volutpat lectus. Cursus elementum, nec nibh convallis.
                                    Vitae, augue arcu
                                    orci, tincidunt aliquet ultrices non cras. Non pulvinar ut curabitur lacinia morbi
                                    erat.</p>
                                <div class="col-expand-lg">
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#altcoin</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#doge</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#elonmusk</a>
                                </div>
                                <div class="col-expand-lg pt-1">
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#rich</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#trending</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#spacex</a>
                                </div>
                                <br>
                                <div class="col-expand-lg pt-1">
                                    <a class=" text-dark" style="text-decoration: none;" href="">Detail Berita <svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg></a>
                                    <div class="share-comment float-end">
                                        <a class="  text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M21.99 4C21.99 2.9 21.1 2 20 2H4C2.9 2 2 2.9 2 4V16C2 17.1 2.9 18 4 18H18L22 22L21.99 4ZM18 14H6V12H18V14ZM18 11H6V9H18V11ZM18 8H6V6H18V8Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                        <a class=" text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 18rem;width:100%;">
                            <img src="http://localhost:3000/static/image/dogecoin.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Ini Penyebab Doge Anjlok Setelah Twe...</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere
                                    venenatis, risus
                                    amet non mattis facilisis volutpat lectus. Cursus elementum, nec nibh convallis.
                                    Vitae, augue arcu
                                    orci, tincidunt aliquet ultrices non cras. Non pulvinar ut curabitur lacinia morbi
                                    erat.</p>

                                <div class="col-expand-lg">
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#altcoin</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#doge</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#elonmusk</a>
                                </div>
                                <div class="col-expand-lg pt-1">
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#rich</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#trending</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#spacex</a>
                                </div>
                                <br>
                                <div class="col-expand-lg pt-1">
                                    <a class=" text-dark" style="text-decoration: none;" href="">Detail Berita <svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg></a>
                                    <div class="share-comment float-end">
                                        <a class="  text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M21.99 4C21.99 2.9 21.1 2 20 2H4C2.9 2 2 2.9 2 4V16C2 17.1 2.9 18 4 18H18L22 22L21.99 4ZM18 14H6V12H18V14ZM18 11H6V9H18V11ZM18 8H6V6H18V8Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                        <a class=" text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="collapse" id="lihatsemua">
                <div class="column-kartu row bagian-4 mx-auto py-2 " style="width: 90%;">
                    <div class="col">
                        <div class="card" style="width: 18rem;width:100%; ">
                            <img src="http://localhost:3000/static/image/elon.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Title Of The News Elon Musk Beli Doge...</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere
                                    venenatis, risus
                                    amet non mattis facilisis volutpat lectus. Cursus elementum, nec nibh convallis.
                                    Vitae, augue arcu
                                    orci, tincidunt aliquet ultrices non cras. Non pulvinar ut curabitur lacinia morbi
                                    erat.</p>

                                <div class="col-expand-lg">
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#altcoin</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#doge</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#elonmusk</a>
                                </div>
                                <div class="col-expand-lg pt-1">
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#rich</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#trending</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#spacex</a>
                                </div>
                                <br>
                                <div class="col-expand-lg pt-1">
                                    <a class=" text-dark" style="text-decoration: none;" href="">Detail Berita <svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg></a>
                                    <div class="share-comment float-end">
                                        <a class="  text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M21.99 4C21.99 2.9 21.1 2 20 2H4C2.9 2 2 2.9 2 4V16C2 17.1 2.9 18 4 18H18L22 22L21.99 4ZM18 14H6V12H18V14ZM18 11H6V9H18V11ZM18 8H6V6H18V8Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                        <a class=" text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card" style="width: 18rem;width:100%; ">
                            <img src="http://localhost:3000/static/image/cryptojpg.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Crypto 2021: Ragam Peristiwa Penting</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere
                                    venenatis, risus
                                    amet non mattis facilisis volutpat lectus. Cursus elementum, nec nibh convallis.
                                    Vitae, augue arcu
                                    orci, tincidunt aliquet ultrices non cras. Non pulvinar ut curabitur lacinia morbi
                                    erat.</p>

                                <div class="col-expand-lg">
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#altcoin</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#doge</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#elonmusk</a>
                                </div>
                                <br>
                                <br>


                                <div class="col-expand-lg pt-1">
                                    <a class=" text-dark" style="text-decoration: none;" href="">Detail Berita <svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg></a>
                                    <div class="share-comment float-end">
                                        <a class="  text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M21.99 4C21.99 2.9 21.1 2 20 2H4C2.9 2 2 2.9 2 4V16C2 17.1 2.9 18 4 18H18L22 22L21.99 4ZM18 14H6V12H18V14ZM18 11H6V9H18V11ZM18 8H6V6H18V8Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                        <a class=" text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card" style="width: 18rem;width:100%; ">
                            <img src="http://localhost:3000/static/image/Solana-blockchain.jpg" class="card-img-top"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Solana Naik 2000% Dalam 1 Tahun...</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere
                                    venenatis, risus
                                    amet non mattis facilisis volutpat lectus. Cursus elementum, nec nibh convallis.
                                    Vitae, augue arcu
                                    orci, tincidunt aliquet ultrices non cras. Non pulvinar ut curabitur lacinia morbi
                                    erat.</p>
                                <div class="col-expand-lg">
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#altcoin</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#doge</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#elonmusk</a>
                                </div>
                                <div class="col-expand-lg pt-1">
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#rich</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#trending</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#spacex</a>
                                </div>
                                <br>
                                <div class="col-expand-lg pt-1">
                                    <a class=" text-dark" style="text-decoration: none;" href="">Detail Berita <svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg></a>
                                    <div class="share-comment float-end">
                                        <a class="  text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M21.99 4C21.99 2.9 21.1 2 20 2H4C2.9 2 2 2.9 2 4V16C2 17.1 2.9 18 4 18H18L22 22L21.99 4ZM18 14H6V12H18V14ZM18 11H6V9H18V11ZM18 8H6V6H18V8Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                        <a class=" text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 18rem;width:100%;">
                            <img src="http://localhost:3000/static/image/dogecoin.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Ini Penyebab Doge Anjlok Setelah Twe...</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere
                                    venenatis, risus
                                    amet non mattis facilisis volutpat lectus. Cursus elementum, nec nibh convallis.
                                    Vitae, augue arcu
                                    orci, tincidunt aliquet ultrices non cras. Non pulvinar ut curabitur lacinia morbi
                                    erat.</p>

                                <div class="col-expand-lg">
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#altcoin</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#doge</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#elonmusk</a>
                                </div>
                                <div class="col-expand-lg pt-1">
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#rich</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;"
                                        href="">#trending</a>
                                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#spacex</a>
                                </div>
                                <br>
                                <div class="col-expand-lg pt-1">
                                    <a class=" text-dark" style="text-decoration: none;" href="">Detail Berita <svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg></a>
                                    <div class="share-comment float-end">
                                        <a class="  text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M21.99 4C21.99 2.9 21.1 2 20 2H4C2.9 2 2 2.9 2 4V16C2 17.1 2.9 18 4 18H18L22 22L21.99 4ZM18 14H6V12H18V14ZM18 11H6V9H18V11ZM18 8H6V6H18V8Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                        <a class=" text-light" style="text-decoration: none;" href=""><svg width="24"
                                                height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08Z"
                                                    fill="black" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="halamanbutton  ">
            <ul class="mx-auto " style="width: 500px;  ">
                <li class="btn">
                    <a href="" class="text-primary" style="text-decoration: none;"><b> PREV</b></a>
                </li>
                <li class="btn">
                    <a href="" class="btn btn-outline-secondary btn1">1</a>
                </li>
                <li class="btn">
                    <a href="" class="btn btn-outline-secondary btn1">2</a>
                </li>
                <li class="btn">
                    <a href="" class="btn btn-outline-secondary btn1">3</a>
                </li>
                <li class="btn">
                    <a href="" class="btn btn-outline-secondary btn1"> 4</a>
                </li>
                <li class="btn">
                    <a href="" class="btn btn-outline-secondary btn1">5</a>
                </li>
                <li class="btn">
                    <a href="" class="text-primary" style="text-decoration: none;"><b> NEXT </b></a>
                </li>
            </ul>
        </div>
        <br>

        <!-- footer -->
        <div class="container-fluid footer-1" style="background-color:  #0F4688   ;">
            <div class="container text-light mx-auto text-center">
                <div class="row align-items-start">
                    <div class="col">
                        <a class="btn text-white" href=""><img src="http://localhost:3000/static/image/Logo crypto.png"
                                alt="" width="100%"></a>
                    </div>
                    <div class="col py-4 mt-3"><a class="btn text-white" href="">Kategori</a>

                    </div>
                    <div class="col py-4 mt-3"><a class="btn text-white" href="">Watchlist</a>

                    </div>
                    <div class="col py-4 mt-3"><a class="btn text-white" href=""> Tentang kami</a>

                    </div>
                </div>
            </div>
            <div class="container text-light mx-auto  footer-2">
                <div class="row align-items-start ">
                    <div class="col py-4 float-start">
                        <a class="btn text-white" style="text-decoration: none; margin-left: 40px;" href=""><svg
                                width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M8 3C9.10457 3 10 3.89543 10 5V8H16C17.1046 8 18 8.89543 18 10C18 11.1046 17.1046 12 16 12H10V14C10 15.6569 11.3431 17 13 17H16C17.1046 17 18 17.8954 18 19C18 20.1046 17.1046 21 16 21H13C9.13401 21 6 17.866 6 14V5C6 3.89543 6.89543 3 8 3Z"
                                    fill="white" />
                            </svg>
                            Twitter</a> <br>
                        <a class="btn text-white" style="text-decoration: none;margin-left: 40px;" href=""><svg
                                width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M5 7H19C19.5523 7 20 7.44771 20 8V16C20 16.5523 19.5523 17 19 17H5C4.44772 17 4 16.5523 4 16V8C4 7.44772 4.44772 7 5 7ZM2 8C2 6.34315 3.34315 5 5 5H19C20.6569 5 22 6.34315 22 8V16C22 17.6569 20.6569 19 19 19H5C3.34315 19 2 17.6569 2 16V8ZM10 9L14 12L10 15V9Z"
                                    fill="white" />
                            </svg>
                            Youtube</a> <br>
                        <a class="btn text-white" style="text-decoration: none; margin-left: 40px;" href=""><svg
                                width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7ZM9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12Z"
                                    fill="white" />
                                <path
                                    d="M18 5C17.4477 5 17 5.44772 17 6C17 6.55228 17.4477 7 18 7C18.5523 7 19 6.55228 19 6C19 5.44772 18.5523 5 18 5Z"
                                    fill="white" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M5 1C2.79086 1 1 2.79086 1 5V19C1 21.2091 2.79086 23 5 23H19C21.2091 23 23 21.2091 23 19V5C23 2.79086 21.2091 1 19 1H5ZM19 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3Z"
                                    fill="white" />
                            </svg>
                            Instagram</a> <br>
                        <a class="btn text-white" style="text-decoration: none;margin-left: 40px;" href=""><svg
                                width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M9.19789 21.5H13.1979V13.4901H16.802L17.1979 9.50977H13.1979V7.5C13.1979 6.94772 13.6456 6.5 14.1979 6.5H17.1979V2.5H14.1979C11.4364 2.5 9.19789 4.73858 9.19789 7.5V9.50977H7.19789L6.802 13.4901H9.19789V21.5Z"
                                    fill="white" />
                            </svg>
                            Facebook</a> <br>
                    </div>
                    <div class="col bagian-5 ">
                        <a class="btn text-white" style="text-decoration: none; margin-left: 110px;" href="">Bitcoin</a>
                        <br>
                        <a class="btn text-white" style="text-decoration: none; margin-left: 110px;" href="">Solana</a>
                        <br>
                        <a class="btn text-white" style="text-decoration: none;margin-left: 110px;" href="">BNB</a> <br>
                        <a class="btn text-white" style="text-decoration: none;margin-left: 110px;" href="">Cardano</a>
                        <br>
                        <a class="btn text-white" style="text-decoration: none;margin-left: 110px;" href="">Ethereum</a>
                        <br>
                    </div>
                    <div class="col bagian-5">
                        <a class="btn text-white" style="text-decoration: none;margin-left: 113px;" href="">Bitcoin</a>
                        <br>
                        <a class="btn text-white" style="text-decoration: none;margin-left: 113px;" href="">Solana</a>
                        <br>
                        <a class="btn text-white" style="text-decoration: none;margin-left: 113px;" href="">BNB</a> <br>
                        <a class="btn text-white" style="text-decoration: none;margin-left: 113px;" href="">Cardano</a>
                        <br>
                        <a class="btn text-white" style="text-decoration: none;margin-left: 113px;" href="">Ethereum</a>
                        <br>
                    </div>
                    <div class="col bagian-5 ">
                        <a class="btn text-white" style="text-decoration: none;margin-left: 100px;" href="">Bitcoin</a>
                        <br>
                        <a class="btn text-white" style="text-decoration: none;margin-left: 100px" href="">Solana</a>
                        <br>
                        <a class="btn text-white" style="text-decoration: none;margin-left: 100px" href="">BNB</a> <br>
                        <a class="btn text-white" style="text-decoration: none;margin-left: 100px" href="">Cardano</a>
                        <br>
                        <a class="btn text-white" style="text-decoration: none;margin-left: 100px" href="">Ethereum</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

</body>

</html>