<!DOCTYPE html>
<html>
<%- include('layout/head') %>

<body>
  <!-- header 1 -->
  <div class=" container-all ">
    <%- include('layout/header') %>
    <!-- Gambar Slider -->
    <div class="container-fluid carousel-contain">
      <div class="Slider  ">
        <div id="carouselExampleCaptions" class="carousel slide col-md-8 mx-auto " data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href=" "> <img src="http://localhost:3000/static/image/slider gambar.jpg" class="d-block w-100"
                  alt="..."></a>
            </div>
            <div class="carousel-item">
              <a href=""> <img src="http://localhost:3000/static/image/slider gambar.jpg" class="d-block w-100"
                  alt="..."></a>
            </div>
            <div class="carousel-item slide1">
              <a href=""><img src="http://localhost:3000/static/image/slider gambar.jpg" class="d-block w-100"
                  alt="..."></a>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <!-- harga border crypto -->
    <div class="container  crypto mx-auto ">
      <div class="harga-crypto " style="margin-left: 11%;">
        <h2> <b> Harga Crypto Hari Ini</b></h2>
      </div><br>
      <div class=" container-fluid row isian-label  " style="margin-left: 125px
      ;">
        <div class="col-2 ">
          <div class="card rounded bitcoin" style="width:80% ; box-shadow: 10px  10px 5px rgba(224,224,224,1);  ">
            <img src="http://localhost:3000/static/image/bitcoin1.png" class="card-img-top mx-auto rounded-circle "
              alt="..." style="width: 50%;">
            <div class="card-body">
              <h3 class="card-title text-center"><b><a style="text-decoration: none; color: black;" href="">
                    1.BTC</a></b></h3>
              <p class="card-text text-danger text-center" style="font-size: 13px;">Rp729.023.032</p>
              <h6 class="card-text text-danger text-center"> <svg xmlns="http://www.w3.org/2000/svg" width="16"
                  height="16" fill="currentColor" class="bi bi-graph-down" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M0 0h1v15h15v1H0V0Zm14.817 11.887a.5.5 0 0 0 .07-.704l-4.5-5.5a.5.5 0 0 0-.74-.037L7.06 8.233 3.404 3.206a.5.5 0 0 0-.808.588l4 5.5a.5.5 0 0 0 .758.06l2.609-2.61 4.15 5.073a.5.5 0 0 0 .704.07Z" />
                </svg>12%</h6>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card rounded" style="width:80%; box-shadow: 10px  10px 5px rgba(224,224,224,1);">
            <img src="http://localhost:3000/static/image/etherium.jpg" class="card-img-top mx-auto rounded-circle "
              alt="..." style="width: 50%;">
            <div class="card-body">
              <h3 class="card-title text-center"><b><a style="text-decoration: none; color: black;"
                    href="">2.ETH</b></a> </h3>
              <p class="card-text text-success text-center" style="font-size: 13px;">Rp69.321.312</p>
              <h6 class="card-text text-success text-center"> <svg xmlns="http://www.w3.org/2000/svg" width="16"
                  height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z" />
                </svg>10%</h6>
            </div>
          </div>
        </div>
        <div class="col-2 ">
          <div class="card rounded" style="width:80%;box-shadow: 10px  10px 5px rgba(224,224,224,1); ">
            <img src="http://localhost:3000/static/image/bnb.png" class="card-img-top mx-auto rounded-circle " alt="..."
              style="width: 50%;">
            <div class="card-body">
              <h3 class="card-title text-center"><b><a style="text-decoration: none; color: black;" href="">3.BNB</a>
                </b></h3>
              <p class="card-text text-success text-center" style="font-size: 13px;">Rp7.594.342</p>
              <h6 class="card-text text-success text-center"> <svg xmlns="http://www.w3.org/2000/svg" width="16"
                  height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z" />
                </svg>4%</h6>
            </div>
          </div>
        </div>
        <div class="col-2  ">
          <div class="card rounded" style="width:80%;box-shadow: 10px  10px 5px rgba(224,224,224,1);">
            <img src="http://localhost:3000/static/image/solana.png" class="card-img-top mx-auto rounded-circle "
              alt="..." style="width: 50%;">
            <div class="card-body">
              <h3 class="card-title text-center"><b><a style="text-decoration: none; color: black;" href="">
                    4.SOL</a></b></h3>
              <p class="card-text text-success text-center" style="font-size: 13px;">Rp2.034.343</p>
              <h6 class="card-text text-success text-center"> <svg xmlns="http://www.w3.org/2000/svg" width="16"
                  height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z" />
                </svg>2%</h6>
            </div>
          </div>
        </div>
        <div class="col-2  ">
          <div class="card rounded"
            style="width:80%;margin-right: 10px;box-shadow: 10px  10px 5px rgba(224,224,224,1); ">
            <img src="http://localhost:3000/static/image/cardano.png" class="card-img-top mx-auto rounded-circle "
              alt="..." style="width: 50%;">
            <div class="card-body">
              <h3 class="card-title text-center"><b><a style="text-decoration: none; color: black;" href="">
                    5.ADA</a></b></h3>
              <p class="card-text text-success text-center" style="font-size: 13px;">Rp92.234</p>
              <h6 class="card-text text-success text-center"> <svg xmlns="http://www.w3.org/2000/svg" width="16"
                  height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z" />
                </svg>31%</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- berita terbaru  -->
    <div class="berita-terbaru container">
      <div class="isian">
        <h2 class="pembukaan" style="margin-left: 10%;"> <b>Berita Terbaru</b>
          <a class="btn btn-outline-warning  " type="button" data-bs-toggle="collapse" data-bs-target="#lihatsemua"
            aria-expanded="false" aria-controls="lihatsemua" href="#">Lihat
            Semua
        </h2></a>
        <br>
      </div>

      <!--  -->
      <div class="kumpulan-berita">
        <div class="column-kartu row mx-auto py-2" style="width: 90%;">
          <% for(var i=0; i < data.length; i++) { %>
            <div class="col">
              <div class="card" style="width: 18rem;width:100%; ">
                <img src="http://localhost:3000/static/image/<%=data[i].thumbnail%>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%=data[i].judul%></h5>
                  <p class="card-text"><%=data[i].thumb_judul%></p>
  
                  <div class="col-expand-lg">
                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#altcoin</a>
                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#doge</a>
                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#elonmusk</a>
                  </div>
                  <div class="col-expand-lg pt-1">
                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#rich</a>
                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#trending</a>
                    <a class=" bg-primary text-light" style="text-decoration: none;" href="">#spacex</a>
                  </div>
                  <br>
                  <div class="col-expand-lg pt-1">
                    <a class=" text-dark" style="text-decoration: none;" href="">Detail Berita <svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                      </svg></a>
                    <div class="share-comment float-end">
                      <a class="  text-light" style="text-decoration: none;" href=""><svg width="24" height="24"
                          viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M21.99 4C21.99 2.9 21.1 2 20 2H4C2.9 2 2 2.9 2 4V16C2 17.1 2.9 18 4 18H18L22 22L21.99 4ZM18 14H6V12H18V14ZM18 11H6V9H18V11ZM18 8H6V6H18V8Z"
                            fill="black" />
                        </svg>
                      </a>
                      <a class=" text-light" style="text-decoration: none;" href=""><svg width="24" height="24"
                          viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08Z"
                            fill="black" />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
      
    </div>
    <br>

    <div class="halamanbutton  ">
      <ul class="mx-auto " style="width: 500px;  ">
        <li class="btn">
          <a href="" class="text-primary" style="text-decoration: none;"><b> PREV</b></a>
        </li>
        <li class="btn">
          <a href="" class="btn btn-outline-secondary btn1">1</a>
        </li>
        <li class="btn">
          <a href="" class="btn btn-outline-secondary btn1">2</a>
        </li>
        <li class="btn">
          <a href="" class="btn btn-outline-secondary btn1">3</a>
        </li>
        <li class="btn">
          <a href="" class="btn btn-outline-secondary btn1"> 4</a>
        </li>
        <li class="btn">
          <a href="" class="btn btn-outline-secondary btn1">5</a>
        </li>
        <li class="btn">
          <a href="" class="text-primary" style="text-decoration: none;"><b> NEXT </b></a>
        </li>
      </ul>
    </div>
    <br>

    <!-- footer -->
    <%- include('layout/footer') %>
  </div>
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>

</body>

</html>