<!DOCTYPE html>
<html>

<head>
    <title>Login Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700" rel="stylesheet">
</head>

<style>
    h1{
        font-family: 'Poppins';
        font-size: 39.8px;
        font-weight: 700;
    }
    body{
        font-family: 'Poppins'
    }
    .borderR10{
        border-radius: 10px;
    }
</style>

<body>
    <div class="container my-5">
        <div class="row">

            <div class="col-sm-6 text-center px-5">
                <img src="../static/image/Logo Crypto Edu-01.svg" style="width: 75%;" alt="Logo Crypto Edu">
                <h1 style="color: #1C6DD0;">CryptoEdu</h1>
                <p style="font-size: large;">CryptoEdu adalah portal berita Indonesia yang menyediakan informasi khususnya informasi terkait mata uang kripto, berita trending, harga real time kripto, dan yang lainnya.</p>
            </div>

            <div class="col-sm-6 py-5">
                <div class="p-3 mb-5 bg-body border border-secondary borderR10" style="box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);">
                    <div class="text-center my-3">
                        <h1>Login Admin</h1>
                        <p>Gunakan email yang telah terdaftar sebagai admin</p>
                    </div>
                    <form method="POST" action="/admin/login" class="px-5 pb-5">
                        <div class="mb-3">
                            <label for="email" class="form-label" style="font-size: large;">Email</label>
                            <input type="text" name="email" placeholder="Masukkan email" class="form-control borderR10 border-secondary">
                        </div>
                        <div class="mb-5">
                            <label for="password" class="form-label" style="font-size: large;">Password</label>
                            <input type="password" name="password" placeholder="Masukkan password" class="form-control borderR10 border-secondary">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg borderR10" style="font-weight: 600;">Masuk</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</body>

</html>