<!DOCTYPE html>
<html lang="en">

<!-- <head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="http://localhost:3000/static/css/login_user.css">
  <title>Login</title>
</head> -->
<%-include('layout/head')%>

<body>
<%-include('layout/header')%>
  <div class="grid-container">
    <div class="grid-item-1">
      <img src="../static/image/Logo-Crypto-Edu-01.png" class="img" alt="logo-CryptoEdu">
      <h1 class="heading title">CryptoEdu</h1>
      <p class="text">CryptoEdu adalah portal berita Indonesia yang menyediakan informasi khususnya informasi terkait mata uang kripto, berita trending, harga real time kripto, dan yang lainnya.</p>
    </div>
    <div class="grid-item-2">
      <form class="form" method="POST" action="http://localhost:3000/user/login">
        <h1 class="font heading">Login</h1>
        <div class="font">Belum punya akun CryptoEdu? <a href="/user/register">Daftar Disni</a></div>
        <br>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <button type="submit" class="btn-1 btn btn-primary">Masuk</button>
      </form>
    </div>
  </div>
  <%- include('layout/footer') %> 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
</body>
<!-- 

<script>
function login() {
  var password = document.getElementById("exampleInputPassword1");
  var email = document.getElementById("exampleInputEmail1");

  $.ajax({
    type: "POST",
    url: "http://localhost:3000/user/login",
    dataType: "json",
    data: {
      email: email.value,
      password: password.value,
      auth: "surli"
    },
    success: function(msg){
      alert('berhasil login')
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
      alert("email atau password salah");
      console.log(errorThrown);
    }
  });
  return
}
</script> -->

</html>