<!DOCTYPE html>
<html lang="id">
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register User - CryptoEdu</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/register_user.css">
</head> -->
<%- include('layout/head') %> 
<body>
        <%- include('layout/header') %>
        <main id="register_user" class="container mt-2 mb-4">
            <div class="row">
                <div class="col-md-6 text-center mt-5" id="deskripsi_register">
                    <img src="/static/image/Logo Crypto Edu-01.svg" alt="Logo CryptoEdu" width="350px">
                    <h1 class="fw-600">CryptoEdu</h1>
                    <p class="px-5">
                        CryptoEdu adalah portal berita Indonesia yang menyediakan informasi 
                        khususnya informasi terkait mata uang kripto, berita trending, 
                        harga real time kripto, dan yang lainnya.
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="card" id="form_register_user">
                        <div class="card-body">
                            <div class="container">
                                <h1 class="text-center">Daftar</h1>
                                <p class="text-center">Sudah Punya Akun CryptoEdu? <a href="/user/login">Login Disini</a></p>
                                <form action="/user/register" method="post" class="mt-2">
                                    <div class="mb-3">
                                        <label for="nama_lengkap" class="form-label">Nama Lengkap</label>
                                        <input type="text" class="form-control" id="nama_lengkap" placeholder="Masukkan Nama Lengkap" name="nama_lengkap" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="username" class="form-label">Username</label>
                                        <input type="text" class="form-control" id="username" placeholder="Masukkan Username" name="username" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="email" placeholder="Masukkan Email" name="email" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="tgl_lahir" class="form-label">Tanggal Lahir</label>
                                        <input type="date" class="form-control" id="tgl_lahir" placeholder="Masukkan Tanggal Lahir" name="tgl_lahir" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="nomor_telepon" class="form-label">No. HP</label>
                                        <input type="text" class="form-control" id="nomor_telepon" placeholder="Masukkan No. HP" name="nomor_telepon" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="password" placeholder="Masukkan Password" name="password" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="gender">Gender</label>
                                        <div class="row">
                                            <div class="col-md-6 d-grid">
                                                <input type="radio" class="btn-check" name="gender" id="laki-laki" autocomplete="off" value="0">
                                                <label class="btn btn-outline-secondary" for="laki-laki">
                                                    <div class="row">
                                                        <div class="col-1">
                                                            <i class="bi bi-gender-male"></i>
                                                        </div>
                                                        <div class="col-10">
                                                            Laki-laki
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="col-md-6 d-grid">
                                                <input type="radio" class="btn-check" name="gender" id="perempuan" autocomplete="off" value="1">
                                                <label class="btn btn-outline-secondary" for="perempuan">
                                                    <div class="row">
                                                        <div class="col-1">
                                                            <i class="bi bi-gender-female"></i>
                                                        </div>
                                                        <div class="col-10">
                                                            Perempuan
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid mb-2">
                                        <button type="submit" class="btn btn-primary btn-masuk">Daftar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('layout/footer') %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
      </script>
</body>
</html>