<!DOCTYPE html>
<html>
<%- include('layout/headsitemap') %>

    <body>
        <!-- header 1 -->
        <div class=" container-all ">
            <%- include('layout/header') %>

                <!-- sitemap -->
                <div class="flex-container" style="border-bottom: 2px solid rgb(216, 205, 205); margin-bottom: 8%;">
                    <div class="flex-item center" style="margin-bottom: 2%; margin-top: 2%;">
                        <b style="font-size: 25px;"><img src="http://localhost:3000/static/image/Logo crypto.png" alt=""
                                width="165px">SITE MAP</b>
                    </div>
                    <div class="flex-item"
                        style="background-color: #1B6ECE; color: white; font-size: 23px; border-left: 1.5px solid rgb(216, 205, 205);border-bottom: 2px solid rgb(216, 205, 205);border-right: 1.5px solid rgb(216, 205, 205); padding-top: 1%; padding-bottom: 1%;">
                        <b style="margin-left: 1%;">About CryptoEdu</b>
                    </div>
                    <div class="flex-item"
                        style="border: 2px solid rgb(216, 205, 205);">
                        <b>
                            <ul style="margin: 1%;">
                                <li><a class="black" href="/homepage">Beranda</a>
                                    <ul>
                                        <li><a class="black" href="/watchlist">Harga Crypto Hari Ini</a></li>
                                        <li><a class="black" href="/berita-terkini">Berita Terbaru</a></li>
                                    </ul></li>
                                <li><a class="black" href="#">Kategori
                                    <ul>
                                        <li><a class="black" href="/kategori/Bitcoin">BitCoin</a></li>
                                        <li><a class="black" href="/kategori/Etherium">Etherium</a></li>
                                        <li><a class="black" href="/kategori/Binance">Binance</a></li>
                                        <li><a class="black" href="/kategori/Solana">Solana</a></li>
                                        <li><a class="black" href="/kategori/Cardano">Cardano</a></li>
                                    </ul>
                                </a></li>
                                <li><a class="black" href="/watchlist">Watchlist</a></li>
                                <li><a class="black" href="/about-us">Tentang Kami</a></li><br>
                            </ul>
                        </b>
                    </div>
                </div>
        </div>

        <!-- footer -->
        <%- include('layout/footer') %>
            </div>
            </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous">
                </script>
    </body>

</html>
