<!-- <div class="container-fluid footer-1" style="background-color:  #0F4688   ;">
    <div class="container text-light mx-auto text-center">
      <div class="row align-items-start">
        <div class="col">
          <a class="btn text-white" href=""><img src="http://localhost:3000/static/image/Logo crypto.png" alt=""
              width="100%"></a>
        </div>
        <div class="col py-4 mt-3"><a class="btn text-white" href="">Kategori</a>

        </div>
        <div class="col py-4 mt-3"><a class="btn text-white" href="">Watchlist</a>

        </div>
        <div class="col py-4 mt-3"><a class="btn text-white" href=""> Tentang kami</a>

        </div>
      </div>
    </div>
    <div class="container text-light mx-auto  footer-2">
      <div class="row align-items-start ">
        <div class="col py-4 float-start">
          <a class="btn text-white" style="text-decoration: none; margin-left: 40px;" href=""><svg width="24"
              height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M8 3C9.10457 3 10 3.89543 10 5V8H16C17.1046 8 18 8.89543 18 10C18 11.1046 17.1046 12 16 12H10V14C10 15.6569 11.3431 17 13 17H16C17.1046 17 18 17.8954 18 19C18 20.1046 17.1046 21 16 21H13C9.13401 21 6 17.866 6 14V5C6 3.89543 6.89543 3 8 3Z"
                fill="white" />
            </svg>
            Twitter</a> <br>
          <a class="btn text-white" style="text-decoration: none;margin-left: 40px;" href=""><svg width="24"
              height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M5 7H19C19.5523 7 20 7.44771 20 8V16C20 16.5523 19.5523 17 19 17H5C4.44772 17 4 16.5523 4 16V8C4 7.44772 4.44772 7 5 7ZM2 8C2 6.34315 3.34315 5 5 5H19C20.6569 5 22 6.34315 22 8V16C22 17.6569 20.6569 19 19 19H5C3.34315 19 2 17.6569 2 16V8ZM10 9L14 12L10 15V9Z"
                fill="white" />
            </svg>
            Youtube</a> <br>
          <a class="btn text-white" style="text-decoration: none; margin-left: 40px;" href=""><svg width="24"
              height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7ZM9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12Z"
                fill="white" />
              <path
                d="M18 5C17.4477 5 17 5.44772 17 6C17 6.55228 17.4477 7 18 7C18.5523 7 19 6.55228 19 6C19 5.44772 18.5523 5 18 5Z"
                fill="white" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M5 1C2.79086 1 1 2.79086 1 5V19C1 21.2091 2.79086 23 5 23H19C21.2091 23 23 21.2091 23 19V5C23 2.79086 21.2091 1 19 1H5ZM19 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3Z"
                fill="white" />
            </svg>
            Instagram</a> <br>
          <a class="btn text-white" style="text-decoration: none;margin-left: 40px;" href=""><svg width="24"
              height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.19789 21.5H13.1979V13.4901H16.802L17.1979 9.50977H13.1979V7.5C13.1979 6.94772 13.6456 6.5 14.1979 6.5H17.1979V2.5H14.1979C11.4364 2.5 9.19789 4.73858 9.19789 7.5V9.50977H7.19789L6.802 13.4901H9.19789V21.5Z"
                fill="white" />
            </svg>
            Facebook</a> <br>
        </div>
        <div class="col bagian-5 ">
          <a class="btn text-white" style="text-decoration: none; margin-left: 110px;" href="">Bitcoin</a>
          <br>
          <a class="btn text-white" style="text-decoration: none; margin-left: 110px;" href="">Solana</a>
          <br>
          <a class="btn text-white" style="text-decoration: none;margin-left: 110px;" href="">BNB</a> <br>
          <a class="btn text-white" style="text-decoration: none;margin-left: 110px;" href="">Cardano</a>
          <br>
          <a class="btn text-white" style="text-decoration: none;margin-left: 110px;" href="">Ethereum</a>
          <br>
        </div>
        <div class="col bagian-5">
          <a class="btn text-white" style="text-decoration: none;margin-left: 113px;" href="">Bitcoin</a>
          <br>
          <a class="btn text-white" style="text-decoration: none;margin-left: 113px;" href="">Solana</a>
          <br>
          <a class="btn text-white" style="text-decoration: none;margin-left: 113px;" href="">BNB</a> <br>
          <a class="btn text-white" style="text-decoration: none;margin-left: 113px;" href="">Cardano</a>
          <br>
          <a class="btn text-white" style="text-decoration: none;margin-left: 113px;" href="">Ethereum</a>
          <br>
        </div>
        <div class="col bagian-5 ">
          <a class="btn text-white" style="text-decoration: none;margin-left: 100px;" href="">Bitcoin</a>
          <br>
          <a class="btn text-white" style="text-decoration: none;margin-left: 100px" href="">Solana</a>
          <br>
          <a class="btn text-white" style="text-decoration: none;margin-left: 100px" href="">BNB</a> <br>
          <a class="btn text-white" style="text-decoration: none;margin-left: 100px" href="">Cardano</a>
          <br>
          <a class="btn text-white" style="text-decoration: none;margin-left: 100px" href="">Ethereum</a>
          <br>
        </div>
      </div>
    </div>
  </div> -->

<!-- <footer class="bd-footer py-2 mt-5 bg-footer text-white">
    <div class="container py-3">
      <div class="row">
        <div class="col-lg-6">
          <div class="mb-4" id="logo-group">
            <a href="/"><img src="../../static/image/Logo-crypto-footer.svg" alt="footer logo"></a>
          </div>
          <ul class="list-unstyled">
            <li class="mb-2 d-flex align-items-center  align-items-center"><object data="/static/icon/twitter.svg" type="image/svg+xml"></object>&nbsp;<span>Twitter</span></li>
            <li class="mb-2 d-flex align-items-center"><object data="/static/icon/youtube.svg" type="image/svg+xml"></object>&nbsp;<span>Youtube</span></li>
            <li class="mb-2 d-flex align-items-center"><object data="/static/icon/instagram.svg" type="image/svg+xml"></object>&nbsp;<span>Instagram</span></li>
            <li class="mb-2 d-flex align-items-center"><object data="/static/icon/facebook.svg" type="image/svg+xml"></object>&nbsp;<span>Facebook</span></li>
          </ul>
        </div>
        <div class="col-lg-2 mt-4">
          <div class="mb-4">
            <strong class="text-white">Kategori</strong>
          </div>
          <ul class="list-unstyled">
            <li class="mb-2 d-flex align-items-center">
              <a href="/kategori/bitcoin" class="footer-list">Bitcoin</a>
              <a href="/kategori/ethereum" class="footer-list">Ethereum</a>
              <a href="/kategori/binance" class="footer-list">Binance</a>
              <a href="/kategori/solana" class="footer-list">Solana</a>
              <a href="/kategori/cardano" class="footer-list">Cardano</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 mt-4">
          <a href="/watchlist" class="footer-list"><strong>Watchlist</strong></a>
        </div>
        <div class="col-lg-2 mt-4">
          <a href="/about-us" class="footer-list"><strong>Tentang Kami</strong></a>
        </div>
      </div>
    </div>
</footer> -->

<footer class="bd-footer py-5 mt-5 bg-footer text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="/">
          <img class="d-block" src="/static/image/Logo-crypto-footer.png" alt="" style="width: 40%">
        </a>
        <p class="fw-light mt-5" style="font-size: 19.2px; line-height: 29px;">
          MMX3+5h5W, Sampora, <br>Kec. Cisauk, Kabupaten Tangerang, <br>Banten 15345
        </p>
        <h5 class="mt-3 fw-light">(021) 1242 234</h5>
        <h5 class="mt-3 fw-light">cs@cryptoedu.co</h5>
      </div>
      <div class="col-md-3">
        <ul class="footer-ul">
          <li class="my-3">
            <a class="text-white" style="text-decoration: none;" href="/">Beranda</a>
          </li>
          <li class="my-3">
            Kategori
            <ul class="footer-ul">
              <li><a href="/kategori/Bitcoin" class=" fw-light" style="text-decoration: none; color: rgba(255,255,255,0.6)">Bitcoin</a></li>
              <li><a href="/kategori/Etherium" class=" fw-light" style="text-decoration: none; color: rgba(255,255,255,0.6)">Etherium</a></li>
              <li><a href="/kategori/Binance" class=" fw-light" style="text-decoration: none; color: rgba(255,255,255,0.6)">Binance</a></li>
              <li><a href="/kategori/Solano" class=" fw-light" style="text-decoration: none; color: rgba(255,255,255,0.6)">Solana</a></li>
              <li><a href="/kategori/Cardano" class=" fw-light" style="text-decoration: none; color: rgba(255,255,255,0.6)">Cardano</a></li>
            </ul>
          </li>
          <li class="my-3">
            <a class="text-white" style="text-decoration: none;" href="/watchlist">Watchlist</a>
          </li>
          <li class="my-3">
            <a class="text-white" style="text-decoration: none;" href="/about-us">Tentang Kami</a>
          </li>
          <li class="my-3">
            <a class="text-white" style="text-decoration: none;" href="/sitemap">Sitemap</a>
          </li>
          
        </ul>
      </div>
      <div class="col-md-3">
        <a href="https://twitter.com/" class="text-decoration-none" target="_blank">
          <div class="d-flex align-items-center " style="margin: 4px; height: 50px;" >
            <img src="/static/icon/twitter.svg" alt="" class="icon-footer">
            <h6 class="fw-light ms-2 mt-2 text-white">twitter</h6>
          </div>
        </a>
        <a href="https://youtube.com/" class="text-decoration-none" target="_blank">
          <div class="d-flex align-items-center " style="margin: 4px; height: 50px;" >
            <img src="/static/icon/youtube.svg" alt="" class="icon-footer">
            <h6 class="fw-light ms-2 mt-2 text-white">youtube</h6>
          </div>
        </a>
        <a href="https://instagram.com/" class="text-decoration-none" target="_blank">
          <div class="d-flex align-items-center " style="margin: 4px; height: 50px;" >
            <img src="/static/icon/instagram.svg" alt="" class="icon-footer">
            <h6 class="fw-light ms-2 mt-2 text-white">instagram</h6>
          </div>
        </a>
        <a href="https://facebook.com/" class="text-decoration-none" target="_blank">
          <div class="d-flex align-items-center " style="margin: 4px; height: 50px;" >
            <img src="/static/icon/facebook.svg" alt="" class="icon-footer">
            <h6 class="fw-light ms-2 mt-2 text-white">facebook</h6>
          </div>
        </a>
        
      </div>
    </div>
  </div>
</footer>