<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="http://localhost:3000/static/css/homepage.css">
  <link rel="stylesheet" href="http://localhost:3000/static/css/sitemap.css">
  <link rel="stylesheet" href="http://localhost:3000/static/css/watchlist.css">
  <link rel="stylesheet" href="http://localhost:3000/static/css/hashtag.css">
  <link rel="stylesheet" href="http://localhost:3000/static/css/aboutUs.css">
  <link rel="stylesheet" href="http://localhost:3000/static/css/login_user.css">
  <!-- <link rel="stylesheet" href="http://localhost:3000/static/css/detail-berita.css"> -->
</head>