<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/homepage.css">
    <link rel="stylesheet" href="/static/css/sitemap.css">
    <link rel="stylesheet" href="/static/css/watchlist.css">
    <link rel="stylesheet" href="/static/css/hashtag.css">
    <link rel="stylesheet" href="/static/css/aboutUs.css">
    <link rel="stylesheet" href="/static/css/login_user.css">
    <link rel="stylesheet" href="/static/css/detail-berita.css">
    <link rel="stylesheet" href="/static/css/register_user.css"> 
    <link rel="stylesheet" href="/static/css/edit_profile_user.css">
</head>