<nav class="sticky-top bg-white">
  <nav class="navbar  navbar-light bg-white container " style="position: relative; top: 0; z-index: 5;">
    <img class='navbar-brand' src="http://localhost:3000/static/image/Logo crypto.png" alt="" style="width: 9%;">
    <form class="d-flex mx-auto">
      <input type="search" placeholder="Cari" size="70%">
      <button class="btn btn-outline-success  text-light " style="background-color: #1B6ECE;" type="submit"><svg
          xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
          viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg></button>
    </form>
    <% if(user === null) { %>
      <div class="btn-group float-end  ">
        <a class="btn btn-outline-primary me-3 masuk" href="/user/login">Masuk</a>
        <a class="btn btn-outline-warning bg-warning text-light me-3 " href="/user/register">Daftar</a>
      </div>
    <% } else { %>
      <div class="btn-group float-end userlogin ">
        <a class=" me-2 masuk" href="#"><svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M20 0C8.96 0 0 8.96 0 20C0 31.04 8.96 40 20 40C31.04 40 40 31.04 40 20C40 8.96 31.04 0 20 0ZM20 6C23.32 6 26 8.68 26 12C26 15.32 23.32 18 20 18C16.68 18 14 15.32 14 12C14 8.68 16.68 6 20 6ZM20 34.4C15 34.4 10.58 31.84 8 27.96C8.06 23.98 16 21.8 20 21.8C23.98 21.8 31.94 23.98 32 27.96C29.42 31.84 25 34.4 20 34.4Z"
                    fill="#0F4688" />
            </svg>
        </a>
        <a class="mt-1  text-dark " style="text-decoration: none;" href="#"><%=user.username%></a>
            <button class="btn" data-bs-toggle="dropdown"> 
              <svg width="12" height="8" viewBox="0 0 12 8" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M10.59 0L6 4.58L1.41 0L0 1.41L6 7.41L12 1.41L10.59 0Z" fill="#0F4688" />
              </svg>
            </button>
            <ul class="dropdown-menu dropdown-menu-category" style=" z-index: 5;">
              <li><a class="dropdown-item text-white" href="/user/edit-profile/<%=user.username%>">
                <img src="/static/icon/settings_white.svg" alt="">
                Edit Profile</a></li>
              <li><a class="dropdown-item text-white" href="/logout">
                <img src="/static/icon/logout_white_24dp.svg" alt="">
                Keluar</a></li>
            </ul>
            <!-- <a class="btn" href="/logout"> 
              <span class="badge bg-primary fw-light">logout</span>
              <svg width="12" height="8" viewBox="0 0 12 8" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M10.59 0L6 4.58L1.41 0L0 1.41L6 7.41L12 1.41L10.59 0Z" fill="#0F4688" />
              </svg>
            </a> -->
    </div>
    <% } %>
  
  </nav>
  
  
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom " style="z-index: 4;">
    <div class="container justify-content-end">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav w-100 justify-content-between" id="navbar">
          <li class="nav-item">
            <a class="nav-link" href="/">Beranda</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Kategori
            </a>
            <ul class="dropdown-menu dropdown-menu-category " aria-labelledby="navbarDropdown" >
              <li><a class="dropdown-item" href="/kategori/Bitcoin">Bitcoin</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/kategori/Ethereum">Ethereum</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/kategori/Binance">Binance</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/kategori/Solana">Solana</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/kategori/Cardano">Cardano</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/watchlist">Watchlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about-us">Tentang Kami</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</nav>



<!-- delsoon  -->


<!-- <ul class="btn-group container-fluid  navbar-dark header2 py-2 sticky-lg-top btn-expand-lg navbar2"

  style="background-color: #1B6ECE;">
  <li class=" col btn beranda"><a class=" btn-item   "
      style="text-decoration: none; color: white; border-style: none" href="">Beranda</a></li>


  <button class=" dropdown btn col dropdown-toggle " type="button" id="dropdownMenuButton1"
    data-bs-toggle="dropdown" aria-expanded="false" style="border-style: none; color: white;  ">
    Kategori
  </button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1"
    style="background-color:   #0F4688 ;  ">
    <li><a class="dropdown-item text-light " href="#">Bitcoin</a></li>
    <li>
      <hr class="drppdownd-divider" style="background-color:  white;">
    </li>
    <li><a class="dropdown-item text-light" href="#">Etherium</a></li>
    <li>
      <hr class="drppdownd-divider" style="background-color:  white;">
    </li>
    <li><a class="dropdown-item text-light" href="#">Binance</a></li>
    <li>
      <hr class="drppdownd-divider" style="background-color:  white;">
    </li>
    <li><a class="dropdown-item text-light" href="#">Solana</a></li>
    <li>
      <hr class="drppdownd-divider" style="background-color:  white;">
    </li>
    <li><a class="dropdown-item text-light" href="#">Cardano</a></li>
  </ul>

  <li class="btn col "><a class="btn-item watchlist mx-auto"
      style="text-decoration: none; color: white;border-style: none;  " href="#">Watchlist</a></li>
  <li class="btn col "><a class=" btn-item mx-auto" style="text-decoration: none; color: white; border-style: none;"
      href="#">Tentang Kami</a></li>
</ul> -->