@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.about {
    font-family: 'Poppins', sans-serif;
}

/* about us content */
.about h1 {
    font-weight: 600;
    font-size: 39.81px;
    line-height: 60px;
    color: #000000;
}

.about p {
    font-size: 19.2px;
    line-height: 29px;
    color: #000000;
}

/* profile card */
.about .card {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
} 

.about h4 {
    color: #1B6ECE;
    font-size: 23.04px;
    font-weight: 600;
    line-height: 35px;
}

.about .card-text {
    font-size: 19.2px;
    line-height: 29px;
}

.about .card-img-top{
    width: 150px;
    height: 150px;  
}
