
.table thead tr th {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px;
    /* width: 2%; */
    border: 1px solid gray;
    background-color: black;
    color: white;
    
}

.table tbody tr td {
    font-size: 15px;
    padding: 10px 12px;
    border: 1px solid gray;
}

.table tbody .action-list li {
    display: inline-block;
    margin: 0 2px;
}

.table tbody .action-list {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.table tbody .action-list li a {
    font-size: 15px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.position {
    text-align: center;
}

.add {
    /* color: white; */
    float: right;
    border-radius: 5px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.berita {
    width: 40%;
}

.color{
    color: white;
}


