.main-banner {
    border-radius: 10px;
    width: 100%;
}

.detail-berita {
    height: 1000px;
    overflow: scroll;
}

.berita-terkait {
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.sub-text {
    margin-top: 7px;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.sub-text-komen {
    margin-top: 7px;
    font-weight: 300;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
}

.hyperlink:hover {
    color: black;
    font-family: 'Poppins', sans-serif;
}

.hyperlink {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.tittle {
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

.sub-tittle {
    font-weight: 500;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
}

.isi {
    margin-top: 7px;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.hashtag {
    color: white;
    width: 90px;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

textarea.comment {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-size: 16px;
    font-weight: 300;
    resize: none;
    font-family: 'Poppins', sans-serif;
}

.gambar-komen {
    width: 100%;
    border-radius: 100%;
}

button.send {
    margin-top: 5px;
    padding: 10px 30px;
    width: 108px;
    height: 49px;
    background: #1B6ECE;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 19px;
    border: none;
    font-family: 'Poppins', sans-serif;
}

#loadmore {
    width: 175px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    background: #1B6ECE;
    transition: .3s;
    font-family: 'Poppins', sans-serif;
}

.komentar {
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
}

.tanggal-komen {
    margin-left: 3px;
    font-size: 12px;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}

.isi-komentar {
    margin-top: -10px;
    font-family: 'Poppins', sans-serif;
}

.sec-komen {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}

.kommen {
    display: none;
}

.kommen:nth-child(1) {
    display: flex;
}

.kommen:nth-child(2) {
    display: flex;
}

.kommen:nth-child(3) {
    display: flex;
}

.kommen:nth-child(4) {
    display: flex;
}

.kommen:nth-child(5) {
    display: flex;
}

@media (min-width: 1200px) {
    .main-banner {
        border-radius: 10px;
        width: 850px;
        height: 450px;
    }
    .berita-terkait {
        border-radius: 10px;
        font-family: 'Poppins', sans-serif;
        width: 250px;
        height: 150px;
    }
    .gambar-komen {
        width: 70px;
        height: 70px;
        border-radius: 100%;
    }
}


/* 
@media (min-width: 768px) {
    .fixed-terkait {
        position: fixed;
        top: 200px;
        right: 0;
    }
} */

.hitung {
    font-size: 14px;
    font-weight: 200;
    color: #00000080;
    font-family: 'Poppins', sans-serif;
}