#biodata {
    font-family: "poppins";
    font-weight: 300;

    /* Variabel warna */
    --primary-color: #1C6DD0;
}

#biodata h3 {
    font-size: 27.65px;
    font-weight: 600;
    line-height: 41.47px;
}

#biodata .pw {
    text-decoration: none;
}

#biodata .pw:visited {
    text-decoration: none;
}

#biodata .gender #perempuan {
    margin-left: -20px;
}

