body{
    font-weight: bold;
}

.form {
    margin-right: 250px;
    margin-left: 250px;
    margin-top: 30px;
}

.title{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.close{
    margin-right: 15px;
    margin-top: 1px;
    float: right;
}