@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.hashtag {
    font-family: 'Poppins', sans-serif;   
}

/* title */
.hashtag h1 {
    font-weight: 600;
    font-size: 23.04px;
    line-height: 35px;    
    color: #000000;
}

/* berita */
.hashtag h3 {
    font-weight: 600;
    font-size: 27.65px;
    line-height: 41px;
    color: #000000; 
}

.tanggal_berita {
    font-size: 19.2px;
    line-height: 29px;
}

.thumb_berita {
    font-size: 19.2px;
    line-height: 29px;
    color: #000000;

}

.link_berita {
    font-size: 19.2px;
    line-height: 29px;
}

/* banner */
.banner_hashtag {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    height: 479px;
}

