/* header 1 */
.body {
    margin: 0;
    padding: 0;
   font-family: 'Poppins', sans-serif;

    --color-utama: #1B6ECE;
    --color-kedua: #0F4688;
    --color-ketiga: #FFF323;
    --color-keempat: #FFCA03;
}

.header1 {
    font-weight: 600;
    font-size: 19.2px;
    line-height: 29px;
}

.subjudul {
    font-weight: 600;
    font-size: 33.18px;
    line-height: 50px;
}

#harga-crypto h4 {
    font-size: 23px;
    font-weight: 600;
}

#harga-crypto p {
    font-size: 20px;
    font-weight: 600;
}

#harga-crypto .card {
    border: 1px solid #cbcbcb;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#harga-crypto .card-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 15px;
}

#load-more a {
    font-size: 20px;
}

.footer-1 {

    font-family: ' Poppins';
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;

}

.footer-2 {

    font-family: ' Poppins';
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}

.userlogin {

    font-family: 'Poppins';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.show-all {
    background: #FFF323;
    border-color: #FFF323;
    
}

#harga-crypto .card-img-top {
    width: 50%;
    object-fit: cover;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

#berita-terbaru .detail-berita {
    text-decoration: none;
    color: black;
}

#berita-terbaru .hashtag-berita a{
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
}

/* change the background color */
.navbar-custom {
    background-color:#1B6ECE !important;
    font-weight: 600;
}

.dropdown-menu-category {
  color: #fff;
  background-color: #0F4688;
  border-color: rgba(0, 0, 0, 0.5);
}

.dropdown-menu-category .dropdown-item {
  color: #fff;
}

.dropdown-menu-category .dropdown-item:hover, .dropdown-menu-category .dropdown-item:focus {
  color: #fff;
  background-color: #1B6ECE;
}
.dropdown-menu-category .dropdown-divider {
  border: 0.5px solid rgba(255, 255, 255, 0.75);;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

#navbar .nav-link {
    color: #fff;
}
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.bg-footer {
    background-color: #0F4688 !important;
}

footer img {
    width: 220px;
}

.footer-list {
    text-decoration: none;
    color: #fff;
}
.footer-list:hover {
    text-decoration: none;
    color: #cbcbcb;
}

.icon-footer {
    width: 30px;
    height: 30px;
}

.footer-ul{
    text-decoration: none;
    list-style: none;
}

@media screen and (max-width: 600px) {
    header #auth {
        margin-top: 0px !important;
    }
    .btn-auth {
        margin-top: 5px;
  }
}
