.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    margin: 50px;
    
}

.grid-item-1 {
    text-align: center;
}

.grid-item-2 {
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.title{
    color: #1C6DD0;
}

.btn-1 {
    width: 100%;
}

.font {
    text-align: center;
    color: black;
}

.heading {
    font-weight: bold;
    
}

.form {
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.img {
    height: 250px;
    width: 250px;
}

.text{
    margin-left: 150px;
    margin-right: 150px;
}

