#register_user {
    font-family: "poppins";
    font-weight: 300;

    /* Variabel warna */
    --primary-color: #1C6DD0;
    --secondary-color:#FFF323;

}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

#register_user #deskripsi_register img{
    width: 300px;
    margin-top: 40px;
    margin-bottom: -25px;
}

#register_user #deskripsi_register p{
    font-size: 19.2px;
    font-weight: 300;
    line-height: 29px;
}

#register_user #deskripsi_register h1{
    font-weight: 600;
    font-size: 39.81px;
    line-height: 60px;
    color: var(--primary-color);
}

#register_user #form_register_user {
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#register_user #form_register_user h1{
    font-style: normal;
    font-weight: 600;
    font-size: 39.81px;
    line-height: 60px;
    margin-bottom: -10px;
}

#register_user #form_register_user .form-control {
    margin-top: -7px;
}

#register_user #form_register_user .btn-check{
    font-weight: 400;
    font-size: 19.2px;
    line-height: 28.8px;
}

#register_user #form_register_user .btn-outline-secondary:hover{
  color: #000;
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
}

#register_user #form_register_user .btn-check:focus + .btn-outline-secondary{
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(28, 97, 201, 0.25);
}

#register_user #form_register_user .btn-check:checked + .btn-outline-secondary{
    color: #000;
    background-color: #FFF323;
    border-color: #1C6DD0;
}

#register_user #form_register_user .bi{
    font-size: 17px;
}

#register_user #form_register_user .btn-masuk{
    font-weight: 600;
    font-size: 20px;
    background-color: var(--primary-color);
}

.bg-nav {
    background-color: var(--primary-color) !important;
}

