@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.watchlist {
    font-family: 'Poppins', sans-serif;   
}

/* title */
.watchlist h1 {
    font-weight: 600;
    font-size: 39.81px;
    line-height: 60px;
    color: #000000;
}

/* table watchlist */
.watchlist_head {
    font-weight: 600;
    font-size: 23.04px;
    line-height: 35px;
    color: #000000;
}

.watchlist_body {
    font-weight: 400;
    font-size: 19.2px;
    line-height: 29px;
    color: #000000;
}

.red {
    font-size: 19.2px;
    line-height: 29px;
    color: #F02323;
}

.green {
    font-size: 19.2px;
    line-height: 29px;
    color: #01AC12;
}

.btn_watchlist {
    background: #1B6ECE;
    font-size: 13.33px;
    line-height: 20px;
}

