<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>CryptoEdu - admin</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Cryptoedu <span class="badge bg-secondary">admin</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/admin">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/admin/showBerita">Berita</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/admin/kategori">Kategori</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/admin/hashtag">Hashtag</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/admin/block-users">Block</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/admin/komentar">komentar</a>
            </li>
            
          </ul>
          
        </div>
      </div>
    </nav>
    <div class="container mt-5">
        <h3 class="mb-3">Blocking page</h3>
        
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <nav>
                          <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-active-user-tab" data-bs-toggle="tab" data-bs-target="#nav-active-user" type="button" role="tab" aria-controls="nav-active-user" aria-selected="true">Active</button>
                            <button class="nav-link" id="nav-blocked-user-tab" data-bs-toggle="tab" data-bs-target="#nav-blocked-user" type="button" role="tab" aria-controls="nav-blocked-user" aria-selected="false">Block</button>
                          </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                          <div class="tab-pane fade show active" id="nav-active-user" role="tabpanel" aria-labelledby="nav-active-user-tab">
                            <div class="table-responsive">
                              <table class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">Nama</th>
                                      <th scope="col">Username</th>
                                      <th scope="col">Email</th>
                                      <th scope="col">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                
                                    <% let i=1; dataActive.forEach(active => { %>
                                      <tr>
                                        <th scope="row"><%= i++ %> </th>
                                        <td><%= active.nama_lengkap %></td>
                                        <td><%= active.username %></td>
                                        <td><%= active.email %></td>
                                        <td><button type="button" class="btn btn-sm btn-danger" onclick="blockUser('<%= active.id %>', true)">block</button></td>
                                      </tr>
                                    <% }) %>
                                   
                                  </tbody>
                                </table>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="nav-blocked-user" role="tabpanel" aria-labelledby="nav-blocked-user-tab">
                            <div class="table-responsive">
                              <table class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">Nama</th>
                                      <th scope="col">Username</th>
                                      <th scope="col">Email</th>
                                      <th scope="col">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                
                                    <% dataBlocked.forEach(blocked => { %>
                                      <tr>
                                        <th scope="row">1</th>
                                        <td><%= blocked.nama_lengkap %></td>
                                        <td><%= blocked.username %></td>
                                        <td><%= blocked.email %></td>
                                        <td><button type="button" class="btn btn-sm btn-success" onclick="blockUser('<%= blocked.id %>', false)">re-activate</button></td>
                                      </tr>
                                    <% }) %>
                                   
                                  </tbody>
                                </table>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
              <div class="card text-dark bg-light mb-3 m-3 ">
                  <div class="card-header">total users</div>
                  <div class="card-body">
                    <h1 class="card-title"><%= totalAktif %>  </h1>
                    <p class="card-text">Jumlah pengguna yg aktif saat ini.</p>
                  </div>
              </div>
              <div class="card text-dark bg-dark mb-3 text-white m-3">
                  <div class="card-header">total users blocked</div>
                  <div class="card-body">
                    <h1 class="card-title"><%= totalBlocked %>  </h1>
                    <p class="card-text">Jumlah pengguna yg diblock saat ini.</p>
                  </div>
              </div>
            </div>
        </div>
    </div>

    <!-- jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
    
      function blockUser(id, isBlocked){
        // alert('user blocked')
        $.ajax({
                url: 'http://localhost:3000/admin/block-users',
                type: 'PUT',
                data: {id, isBlocked},
                success: function(result) {
                    console.log(`${id} edited`)
                    window.location.replace('http://localhost:3000/admin/block-users');
                }
            });
      }

    </script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>